In [3]:
KMH = int (input ( "현재 속도를 Km/h로 입력하세요. " ) )
MPH = 0.6214 * KMH
print (MPH)

현재 속도를 KM/h로 입력하세요.  60

37.284

In [6]:
KMH = int ( input ( "현재 속도를 Km/h로 입력하세요. " ) )
MPH = 0.6214 * KMH
print ( f'{MPH}' )

현재 속도를 KM/h로 입력하세요.  60

37.284

In [8]:
KMH = int ( input ( "현재 속도를 Km/h 로 입력하세요. " ) )
M_VALUE = 0.6214 #상수

MPH = M_VALUE * KMH
print (f'{MPH}를 MPH로 변환하면 {MPH}입니다.')

현재 속도를 Km/h 로 입력하세요.  60

37.284를 MPH로 변환하면 37.284입니다.

In [10]:
# 일반적인 활용
KMH = int ( input ( "현재 속도를 Km/h 로 입력하세요. " ) )
if KMH > 0 :
    M_VALUE = 0.6214
    MPH = M_VALUE * KMH
    print (f' {MPH}를 MPH로 변환하면 {MPH}입니다.')
else :
    print ( '속도는 양수로 입력하세요.' )

현재 속도를 Km/h 로 입력하세요.  -124

속도는 양수로 입력하세요.

In [14]:
import calendar
theyear = 2026
themonth = 1
print ( calendar.month(theyear, themonth) )

    January 2026
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [16]:
import calendar
year = 2025
month = 12
print ( calendar.month(year, month))

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [25]:
import calendar
theyear = int ( input ('연도를 입력하세요: ') )
themonth = int ( input ('월을 입력하세요(1~12): ') )

if theyear > 0 and 1 <= themonth < 13 :
      print (calendar.month(theyear, themonth))
else :
    print ( "잘못된 입력입니다.")

연도를 입력하세요:  2026
월을 입력하세요(1~12):  3

     March 2026
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [35]:
num_1 = float ( input ( '실수를 입력하세요: ') )
num_2 = float ( input ( '실수를 한 번 더 입력하세요: ' ) )

mul = num_1 * num_2
addition_1 = num_1 + num_2

print (f' "First is {num_1}, and second is {num_2}. \n So, Multiplication = {mul:.3f}, addition = {addition_1:.2f}"')

실수를 입력하세요:  1.1
실수를 한 번 더 입력하세요:  1.222

 "First is 1.1, and second is 1.222.
 So, Multiplication = 1.344, addition = 2.32"

In [32]:
output = f' "First is {num_1}, and second is {num_2}.' \
        + f'So, Multiplication = {mul},' \
        + f'addition = {addition_1}'
print ( output )

 "First is 1.29, and second is 4.12.So, Multiplication = 5.3148,addition = 5.41

In [37]:
x = 10
x = 20
x = 15
x

15

In [39]:
y = 3
z = x/7
z , type ( z )

(2.142857142857143, float)

In [41]:
u = y * x
u , type (u)

(45, int)

In [43]:
a = int ( input ( "a의 길이를 입력하시오: ") )
b = int ( input ( "b의 길이를 입력하시오: ") )
Area = a * b
Perimeter = 2 * ( a + b ) 
print ( f' "넓이는 {Area} , 둘레는 {Perimeter} 입니다." ' )

a의 길이를 입력하시오:  11
b의 길이를 입력하시오:  7

 "넓이는 77 , 둘레는 36 입니다."

In [49]:
x = int ( input ( '홀짝을 판별할 숫자를 입력하세요.' ) )
나머지 = x % 2
if 나머지 == 1:
    print ( f' "{x}는 홀수입니다."' )
else :
    print ( f' "{x}는 짝수입니다."' )

홀짝을 판별할 숫자를 입력하세요. 123123

 "123123는 홀수입니다."

In [51]:
a = 20
area = 6 * ( a ** 2 )  
volume = a ** 3

print ( area , volume )

2400 8000

In [52]:
x = 4
y = 2
z = abs ( x - y ) * ( x + y )
z

12

# 복합자료형

In [5]:
numbers = list (range (10,101,10) )
sum(numbers)

550

In [6]:
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
colors = ( 'red', 'green', 'blue', 'yellow', 'purple', 'orange', 'black' )
colors.split(",")

AttributeError: 'tuple' object has no attribute 'split'

AttributeError: 'list' object has no attribute 'split'

In [3]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
colors_1 = colors [0:3]
colors_2 = colors [5:]
colors_1.append(colors_2)

In [7]:
colors_1.join('')
colors_1

AttributeError: 'list' object has no attribute 'join'

In [8]:
colors_3=colors[:3]+colors[5:]
colors_3

['red', 'green', 'blue', 'orange', 'black']

In [9]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

list_a[2][1]

'korean'

In [11]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c = list_a + list_b
list_c

[1, 2, 3, 4, 5, 6]

In [16]:
tuple_a = ("apple", "banana", "cherry")
list_a = list(tuple_a)
list_a[1] = "blueberry"
tuple_b = tuple(list_a)
tuple_b

('apple', 'blueberry', 'cherry')

In [20]:
a = 5
b = 10
c = 15
tuple_a = (a, b, c) 
print ( tuple_a )

(5, 10, 15)

In [34]:
numbers = (92, 89, 72, 31, 71, 33, 19)
numbers_a = sorted(numbers)
print (numbers_a [0] )
numbers_b = sorted(numbers, reverse=True)
print (numbers_b [0] )

19
92

In [36]:
student = {"name":"Alice", "age":24, "major":"Computer Science" }
print ( student )

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

In [40]:
student.update({"age":26})
print (student )

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

In [43]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
students

{'student1': {'name': 'Alice', 'age': 24},
 'student2': {'name': 'Bob', 'age': 22},
 'student3': {'name': 'Charlie', 'age': 23}}

In [42]:
dir(students)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']