# 시작하기

In [11]:
print ("Hello python!")
print (32)
print ('Hi')
300*2
print ('계산 : ', 3000 * 2, '입니다')

Hello python!
32
Hi
계산 :  6000 입니다

In [16]:
Price = 30000
Quantity = 20
print('오늘의 매출은', Price * Quantity, '입니다' )

오늘의 매출은 600000 입니다

In [22]:
# 성장률 = (이번달 매출 / 지난달 매출 - 1) * 100
성장율 = ( 2000 / 1000 - 1 ) * 100
print('이번달의 성장율은',성장율,"%", '입니다')

이번달의 성장율은 100.0 % 입니다

In [25]:
당기매출 = 2000
전기매출 = 1000
성장율 = ( 당기매출  / 전기매출 - 1 ) * 100
print('이번달의 성장율은',성장율,"%", '입니다')

이번달의 성장율은 100.0 % 입니다

In [41]:
당기매출 = input('이번달 매출액을 입력하세요')
전기매출 = input('지난달 매출액을 입력하세요')

이번달 매출액을 입력하세요 1000
지난달 매출액을 입력하세요 2000

In [43]:
print(당기매출, 전기매출)

1000 2000

In [52]:
name = '휘주'
print ('당신의 이름을 알려주세요.')
print (name+'님! 반갑습니다!!')

당신의 이름을 알려주세요.
휘주님! 반갑습니다!!

In [54]:
name = input("당신의 이름을 알려주세요.")

당신의 이름을 알려주세요. 휘주

'휘주'

In [55]:
print(name+'님! 반갑습니다!!')

휘주님! 반갑습니다!!

# print()의 활용

In [4]:
가격 = 1000
수량 = 10
매출 = 가격 * 수량
print (매출)

10000

In [7]:
print ("이번달 매출은", 매출, "입니다.", sep="")

이번달 매출은10000입니다.

In [18]:
#apple, banana, orange, mellon
과일목록1 = "apple"
과일목록2 = "banana"
과일목록3 = "orange"
과일목록4 = "mellon"
print ( 과일목록1, 과일목록2, 과일목록3, sep =", ")

apple, banana, orange

In [22]:
print ( 과일목록1, 과일목록2, 과일목록3, 과일목록4, sep ="\t")

apple	banana	orange	mellon

In [24]:
print ( 과일목록1, 과일목록2, 과일목록3, 과일목록4, sep ="\n")

apple
banana
orange
mellon

In [26]:
print ( 과일목록1, 과일목록2, 과일목록3, 과일목록4, sep =">")

apple>banana>orange>mellon

# data type

In [31]:
12345, '12345'
과일목록1

'apple'

In [33]:
type ( 12345 ), type ( '12345' )

(int, str)

In [35]:
type ( 과일목록1 )

str

In [37]:
data = 12345
data2 = '12345'
type ( data ) , type ( data2 )

(int, str)

In [40]:
12345 + 10, '12345' + '10'

(12355, '1234510')

In [42]:
data + 10 , data2 + '10'

(12355, '1234510')

In [48]:
이름 = '휘주'
나이 = 31
print ( "나의 이름은 {}이고, 나이는 {}입니다." .format ( 이름, 나이 ) )

나의 이름은 휘주이고, 나이는 31입니다.

In [51]:
#fsting
print ( f"나의 이름은 {name}이고, 나이는 {age}입니다. ")

나의 이름은 휘주이고, 나이는 31입니다.

In [54]:
#기본 입력
name = "휘주"
print ( f"입력한 이름:{name}")

# 숫자 입력 (문자열을 숫자로 변환)
age = 31
print ( f"내년 나이:{age+1}")

입력한 이름:휘주
내년 나이:32

In [56]:
이름 = input( "이름을 입력하세요: " )
print ( f"입력한 이름:{이름}" )

나이 = int ( input ( "나이를 입력하세요: "))
print ( f"내년 나이: {age + 1}")

이름을 입력하세요:  휘주

입력한 이름:휘주

나이를 입력하세요:  31

내년 나이: 32

In [60]:
type ( int ( age ) )

int

In [62]:
age = '열살'
type ( age )

str

In [64]:
age = 20.8
type ( age )

float

In [66]:
age = 1/3
type ( age )
print ( age )

0.3333333333333333

In [67]:
student_name = "휘주"

In [69]:
1_name = "휘주

SyntaxError: invalid decimal literal (935979435.py, line 1)

In [72]:
PI = 3.141592 #constant 상수

In [76]:
max_value = 1000
min_value = 0

In [83]:
a = 30, 20, 10  #패킹
type ( a ) , a

(tuple, (30, 20, 10))

In [88]:
x, y, z = a #언패킹
y, x

(20, 30)

In [89]:
b = 30,
type ( b )

tuple

In [92]:
x1 = 35; y1 = 25; z1 = 15

In [94]:
a = 10
b = a
a, b

(10, 10)

In [96]:
id(a), id(b)

(140721063291608, 140721063291608)

In [98]:
id ( 'a' )

140721063353920

In [105]:
user_name = '휘주' #snake
userName = '휘주' #cameL
username = 'ju'
_name = 'hwi' #private
__name__ = 'hwiju' #dunder 더블언더스코어
print ( username, userName, _name, __name__ )

ju 휘주 hwi hwiju

In [107]:
print( str ( 20 ) ) #__str__()

20

In [109]:
type ( str ( 20 ) )

str

In [114]:
c = " Hi "; d = "Hi"
id ( c ), id ( d )

(1920761203328, 1920761204192)

# 변수의 영역 nameSpace

지역변수, 전역변수

In [139]:
def local_exam () : #사용자정의함수
    local_var = 100
    print( f"함수내부: {local_var}" )

local_exam ()
local_var = 200
local_exam ()
print ( f"함수외부: {local_var}" )

함수내부: 100
함수내부: 100
함수외부: 200

In [140]:
local_exam ()

함수내부: 100

In [158]:
counter = 0
def inc_counter () : #새로 만든 함수, 호출할 때 마다 1씩 추가
    global counter
    counter = counter + 1
    print ( counter )

inc_counter ()
inc_counter ()

1
2

In [161]:
inc_counter ()

4

In [164]:
dsa = 10
def inc_dsa () :
    global dsa
    dsa = dsa + 1
    print ( dsa )

inc_dsa()

11

In [167]:
defg = 2
def abc_def () :
    global defg
    defg = defg + 2
    print ( defg )

abc_def ()

4

In [171]:
aaa = 1
def aaa_aa ():
    global aaa
    aaa += 1
    print ( aaa )

aaa_aa ()
aaa_aa ()
aaa_aa ()

2
3
4