# 리스트

[ ] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료구조

In [5]:
fruits = ["사과", "바나나", "포도"]
score = [ 20, 30, 50, 90, 100 ]
score[1], score[-1] #두번째 학생, 마지막 핵생 점수

(30, 100)

In [7]:
mixed = [ '사과', 20, '바나나', 30, True]
matrix = [ [ 1, 2 ], [ 3, 4 ] ]

In [9]:
matrix [ 0 ] , matrix [0][0]

([1, 2], 1)

In [12]:
fruits [0] , fruits [1:3]

('사과', ['바나나', '포도'])

In [14]:
str(fruits)

"['사과', '바나나', '포도']"

In [19]:
s_list = 'Hello'
s_list[0] = 'h'
s_list

TypeError: 'str' object does not support item assignment

In [21]:
n_list = list (s_list)
type (n_list), n_list

(list, ['H', 'e', 'l', 'l', 'o'])

In [22]:
a_list = ['Hello']
a_list [0]

'Hello'

In [25]:
n_list[0] = 'h'
n_list

['h', 'e', 'l', 'l', 'o']

In [ ]:
str(n_list) # 함수 : 기능의 집합

In [31]:
''.join(n_list) #메소드 : 객체에 종속되어 있는 함수

'hello'

In [27]:
'-'.join(n_list)

'h-e-l-l-o'

# Method, Function 함수

In [36]:
list ( 'hello' ) #문자열로 리스트 생성하기

['h', 'e', 'l', 'l', 'o']

In [37]:
ss = [1, 2, 3, 4] #리스트 표현으로 생성하기

In [35]:
list [ 1, 2, 3, 4 ] #사용불가능한 것

list[1, 2, 3, 4]

In [38]:
a = range(5)
list(a)

[0, 1, 2, 3, 4]

In [39]:
list ( range ( 20 ) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [40]:
list ( range ( 2, 20 ) )

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
list ( range ( 2, 20, 2 ) )

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
dir(ss)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## 복사, 얕은복사 shallow copy

In [51]:
score = [ 10, 20, 30, 40, 50 ]
new_score = score 
new_score

[10, 20, 30, 40, 50]

In [52]:
new_score[0] = 100
new_score

[100, 20, 30, 40, 50]

In [53]:
score

[100, 20, 30, 40, 50]

## 깊은 복사

In [54]:
import copy
new_score_1 = copy.copy(score)
new_score_1[1]=99
new_score_1, score

([100, 99, 30, 40, 50], [100, 20, 30, 40, 50])

# 리스트의 연산자 + *

In [63]:
lunch_1 = [ '라면' , '냉면' , '국수' ]
lunch_2 = [ '햄버거' , '샌드위치' ]
lunch_1 + lunch_2

['라면', '냉면', '국수', '햄버거', '샌드위치']

In [64]:
lunch_1 * 2

['라면', '냉면', '국수', '라면', '냉면', '국수']

In [65]:
del lunch_1[ 1 ]
lunch_1

['라면', '국수']

In [66]:
'라면' in lunch_1

True

In [67]:
'ㅁ' in 'ㅁㄴㅇㄹ'

True

In [72]:
# 연습문제
snack_box = []
#먹고 싶은 간식을 입력받아서 추가하세요.
new_snack_box = input ( '먹고 싶은 간식을 알려주세요. ' )
new_snack = [ new_snack_box ]
snack_box + new_snack

먹고 싶은 간식을 알려주세요.  칙촉

['칙촉']

In [1]:
# 연습문제
snack_box = ['쿠쿠다스']
#먹고 싶은 간식을 입력받아서 추가하세요.
new_snack_box = [input ( '먹고 싶은 간식을 알려주세요. ' )]
snack_box += new_snack_box
snack_box

먹고 싶은 간식을 알려주세요.  칙촉

['쿠쿠다스', '칙촉']

In [2]:
n = int (input ('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 3

['쿠쿠다스', '칙촉', '쿠쿠다스', '칙촉', '쿠쿠다스', '칙촉']

In [3]:
# 빼고 싶은 간식이 있으면 번호를 입력하세요.
del_n = int ( input ('빼고 싶은 간식이 있으면 번호를 입력하세요.')) - 1
del snack_box[del_n]
snack_box

빼고 싶은 간식이 있으면 번호를 입력하세요. 2

['쿠쿠다스', '쿠쿠다스', '칙촉', '쿠쿠다스', '칙촉']

In [4]:
# 찾고 있는 간식이름을 입력하세요
f_name = input( '찾고 있는 간식 이름을 입력하세요.' )
if f_name in snack_box:
    print ("있어요!!")
else:
    print ("없어요...")

찾고 있는 간식 이름을 입력하세요. 칙촉

있어요!!

In [5]:
#전체간식박스 거꾸로 출력

snack_box[::-1]

['칙촉', '쿠쿠다스', '칙촉', '쿠쿠다스', '쿠쿠다스']

In [9]:
list(reversed(snack_box))

['칙촉', '쿠쿠다스', '칙촉', '쿠쿠다스', '쿠쿠다스']

In [10]:
snack_box.reverse()
print (snack_box)

['칙촉', '쿠쿠다스', '칙촉', '쿠쿠다스', '쿠쿠다스']

## ==, is

In [1]:
lunch_1 = [ '주먹밥', '치킨', '칼국수' ]
lunch_2 = [ '주먹밥', '치킨', '칼국수' ]
lunch_1 == lunch_2

True

In [2]:
id (lunch_1) == id (lunch_2)

False

In [5]:
lunch_1 is lunch_2 #is = id 두개 칠 필요 없이 확인하는 것

False

In [24]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2','name':'ju', 'kor':70, 'math':90,'eng':90,},
            {'num':'3','name':'h', 'kor':90, 'math':70,'eng':60,},
            {'num':'4','name':'j', 'kor':40, 'math':90,'eng':40,},
            {'num':'5','name':'k', 'kor':90, 'math':90,'eng':90,}]

In [25]:
students[0]

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}

In [14]:
students[0][1]

KeyError: 1

In [15]:
students[0]['num']

'1'

In [16]:
students[2]['name']

'h'

In [29]:
for s in students:
    print (s)
    print ('\n')

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}


{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90}


{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60}


{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40}


{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90}

In [27]:
for stu in students:
    print (stu['name'])
    print ('\n')

kim


ju


h


j


k

In [32]:
print (s)

{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90}

In [33]:
for s in students:
    s['total'] = s['kor']+s['math']+s['eng']
    print (s['name'])
    #pirnt('\n')

kim
ju
h
j
k

In [38]:
print (students[0]['kor'])

80

In [40]:
print (students[0],students[0]['kor'])

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270} 80

In [67]:
for s in students:
    s['total'] = s['kor']+s['math']+s['eng']
    s['avg'] = round(s['total'] / 3 , 2)
    print (s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'avg': 90.0}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, 'total': 250, 'avg': 83.33}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, 'total': 220, 'avg': 73.33}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, 'total': 170, 'avg': 56.67}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, 'total': 270, 'avg': 90.0}

In [56]:
for s in students:
    avg_rank= print(s['avg'])

90.0
83.33333333333333
73.33333333333333
56.666666666666664
90.0

# 리스트의 활용

None

# f리스트의 정렬

In [68]:
num = [5,2,9,3,4]
num.sort()
num

[2, 3, 4, 5, 9]

In [72]:
num = [5,2,9,3,4]
new_num = sorted(num)
new_num

[2, 3, 4, 5, 9]

In [70]:
num

[5, 2, 9, 3, 4]

In [74]:
for s in students:
    new_s = sorted (s ['avg'] )
    print ( new_s )

TypeError: 'float' object is not iterable

In [78]:
for s in students:
    print (s['avg'])

90.0
83.33
73.33
56.67
90.0

# 순위는 다음에...

In [ ]:
# 리스트의 메소드

In [83]:
fruits = [ '사과', '홍시', '포도', '복숭아' ]
fruits.append('멜론')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [84]:
fruits.insert(2,'딸기')
fruits

['사과', '홍시', '딸기', '포도', '복숭아', '멜론']

In [85]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [88]:
fruits.count('사과')

1

In [89]:
fruits.remove('딸기')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [90]:
fruits.pop(4)

'멜론'

In [91]:
fruits

['사과', '홍시', '포도', '복숭아']

In [96]:
fruits.reverse()
fruits

['복숭아', '포도', '홍시', '사과']

# 리스트의 특징

In [101]:
data = list(range(-100,100))
print ( data ); len( data )

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

200

In [105]:
# 리스트에 양수만 남긴다!
for x in data :
    if x <= 0: 
        data.remove(x)
print (data) ; len ( data )

[-85, -69, -53, -37, -21, -5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

105

In [109]:
data = list(range(-100,100))
print ( data )

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [112]:
filtered = []
for x in data:
    if x >= 0:
        filtered.append(x)

In [113]:
print ( filtered )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [115]:
aaa = [ 123, 123, 123, 222, 111, 333, 111, 213 ]
set(aaa)

{111, 123, 213, 222, 333}

In [153]:
ㅁ = [1, 3, 5, 4, 2]
ㅁ.sort()
ㅁ.reverse()
print (ㅁ)

# num = [1, 3, 5, 4, 2]
# num.sort(reverse=True)
# num

[5, 4, 3, 2, 1]

In [141]:
ㄴ = ['Life', 'is', 'too', 'short'] 
dir(ㄴ)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [154]:
a = ㄴ[0] ; b = ㄴ[1] ; c = ㄴ[2] ; d = ㄴ[3]
print(a,b,c,d)

Life is too short

In [155]:
#['Life', 'is', 'too', 'short'] > "Life is too short"
words = ['Life', 'is', 'too', 'short']
' '.join(words)

'Life is too short'

In [125]:
ㅇ = [1, 3, 5, 7, 9]
dir(ㅇ)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [128]:
ㅇ.remove(1)

ValueError: list.remove(x): x not in list

In [156]:
ㅇ.append(1)
print(ㅇ)

[3, 5, 7, 9, 1, 1]

In [157]:
#[1, 3, 5, 7, 9] > [3, 5, 7, 9, 1]
num = [ 1, 3, 5, 7, 9]
first = num.pop(0)
num.append(first)
num

[3, 5, 7, 9, 1]

# 튜플

In [158]:
t1 = (1, 2, 3)
t2 = "사과", "바나나", "포도"
t3 = tuple ([10, 20, 30])

In [159]:
print ( t1, t2, t3)

(1, 2, 3) ('사과', '바나나', '포도') (10, 20, 30)

In [160]:
print (t1) ; print (t2) ; print (t3)

(1, 2, 3)
('사과', '바나나', '포도')
(10, 20, 30)

In [161]:
t4 = 1, 2, 3, 4, 5
t4, type(t4)

((1, 2, 3, 4, 5), tuple)

In [162]:
t5 = 2, 
t5, type(t5)

((2,), tuple)

In [167]:
t = 10, 20, 30, 40, 50
t[1], t[4], t[-1]

(20, 50, 50)

In [169]:
t[2:4], t[::-1]

((30, 40), (50, 40, 30, 20, 10))

In [175]:
e = list(range (10,60,10))
e[0] = -40 
e

[-40, 20, 30, 40, 50]

In [177]:
t_list = list(t)
t_list[0] = -20
t_new = tuple(t_list)
t_new

(-20, 20, 30, 40, 50)

In [ ]:
#패킹, 언패킹

In [1]:
nums = [ 1,2,3]
nums

[1, 2, 3]

In [2]:
nums = (1,2,3) #패킹
x,y,z = nums
x,y,z, nums #언패킹

(1, 2, 3, (1, 2, 3))

In [5]:
student = ['hong', 20, '1학년']
student[0] + " "+str (student[1]) +" "+ student[2]

'hong 20 1학년'

In [6]:
name, age, grade = ('hong', 20, '1학년')

In [7]:
name + str (age) + grade

'hong201학년'

In [9]:
x=1
y=2
#x=2, y=1
x += 1
y -= 1
x , y

(2, 1)

In [15]:
x = 1
y = 2
x, y = y, x
x, y

(2, 1)

In [16]:
x = 1
y = 2
tmp = x
x = y
y = tmp
x , y

(2, 1)

# 딕셔너리
person = {key:value,,}

In [20]:
person = {"name":"Alice", "age":25, "city":'서울'}
person_1 = {'name':'Ben', "age":27, 'city':'부산'}

In [21]:
person

{'name': 'Alice', 'age': 25, 'city': '서울'}

In [23]:
person['name']

'Alice'

In [29]:
person['age'], person['city']

(25, '서울')

In [30]:
person_1['name']

'Ben'

In [31]:
for per in person:
    print (per) # key:value 1쌍

name
age
city

In [33]:
for per in person.values():
    print (per) # key:value 1쌍

Alice
25
서울

In [36]:
for per, val in person.items():
    print (per , val)

name Alice
age 25
city 서울

In [38]:
person.get('직업')

In [39]:
person.get('age')

25

In [41]:
person = {"이름":"Alice", "나이": 25, "도시":"서울"}

In [42]:
person["직업"] = "개발자"

In [43]:
person ['나이'] = 26
del person ['도시']

In [44]:
print (person.keys() )

dict_keys(['이름', '나이', '직업'])

In [45]:
print (person.values() )

dict_values(['Alice', 26, '개발자'])

In [46]:
print (person.items() )

dict_items([('이름', 'Alice'), ('나이', 26), ('직업', '개발자')])

In [47]:
print (person.pop("나이"))

26

In [48]:
print (person)

{'이름': 'Alice', '직업': '개발자'}

In [50]:
person.update ({'이름': 'Ben', '나이' : 27})

In [51]:
person

{'이름': 'Ben', '직업': '개발자', '나이': 27}

In [52]:
print(person.get("직업", "정보 없음") )

개발자

In [53]:
print(person.get("지역", "정보 없음") )

정보 없음

In [55]:
d = {"a":1, "b":2}
print ( list(d.keys() ) )
print ( list(d.values() ) )

['a', 'b']
[1, 2]

In [57]:
for k, v in d.items() :
    print(k,v)

print (d.get("x",0) )

a 1
b 2
0

In [59]:
print (k)

b

In [60]:
print (v)

2

In [61]:
job_cur_status = person.get('직업','정보없')
job_cur_status

'개발자'

# 집합

In [66]:
집합1 = set ([1,2,3,4])
집합1

{1, 2, 3, 4}

In [64]:
집합2 = set ([1,2,3,4,3,4,2])
집합2

{1, 2, 3, 4}

In [67]:
집합3 = set([1,2,3,4]*10)
집합3

{1, 2, 3, 4}

In [70]:
list3 = list([1,2,3,4]*3)
list3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [71]:
# 집합연산
union(), intersection(), difference()

NameError: name 'union' is not defined

In [72]:
aaaa = 'a', 'b', 'aa', 'bb'

In [73]:
aaaa[0]

'a'