In [4]:
import pymysql

In [5]:
# MySQL 서버에 연결
con = pymysql.connect(
  host='localhost',
  user='root',
  password='1234',
  db='wntrade',
  charset='utf8'
)
#커서 생성
cursor = con.cursor()

In [7]:
cursor.execute('show tables')

7

In [8]:
for row in cursor.fetchall():
  print(row)

('고객',)
('마일리지등급',)
('부서',)
('사원',)
('제품',)
('주문',)
('주문세부',)

In [20]:
sql = '''
SELECT 사원번호
, 이름
, 부서명
FROM 사원 LEFT JOIN 부서
ON 사원.부서번호 = 부서.부서번호
'''

In [21]:
cursor.execute(sql)

10

In [22]:
for row in cursor.fetchall():
  print(row)

('E01', '이소미', '영업부')
('E02', '배재용', '기획부')
('E03', '유대현', '영업부')
('E04', '최소민', '영업부')
('E05', '안주훈', '영업부')
('E06', '이현진', '영업부')
('E07', '오영수', '영업부')
('E08', '선하라', '개발부')
('E09', '유가을', '영업부')
('E10', '정수진', None)

In [23]:
cursor.close()
con.close()