In [3]:
import pymysql

In [2]:
# MySQL 서버에 연결
con = pymysql.connect(
  host='localhost',
  user='root',
  password='1234',
  db='wntrade',
  charset='utf8'
)
#커서 생성
cursor = con.cursor()

In [7]:
cursor.execute('show tables')

7

In [8]:
for row in cursor.fetchall():
  print(row)

('고객',)
('마일리지등급',)
('부서',)
('사원',)
('제품',)
('주문',)
('주문세부',)

In [20]:
sql = '''
SELECT 사원번호
, 이름
, 부서명
FROM 사원 LEFT JOIN 부서
ON 사원.부서번호 = 부서.부서번호
'''

In [21]:
cursor.execute(sql)

10

In [22]:
for row in cursor.fetchall():
  print(row)

('E01', '이소미', '영업부')
('E02', '배재용', '기획부')
('E03', '유대현', '영업부')
('E04', '최소민', '영업부')
('E05', '안주훈', '영업부')
('E06', '이현진', '영업부')
('E07', '오영수', '영업부')
('E08', '선하라', '개발부')
('E09', '유가을', '영업부')
('E10', '정수진', None)

In [23]:
cursor.close()
con.close()

# 핵심 흐름 순서(항상)
- DB 연결
- cursor 생성
- SQL 실행 /db engine
- 결과 조회

In [6]:
sql = '''
SELECT 담당자명
, 고객회사명
, 마일리지
, 고객.도시
, 도시평균마일리지
, 도시평균마일리지 - 마일리지 AS '마일리지 간 차이'
FROM 고객
, (
SELECT 도시
, AVG(마일리지) AS '도시평균마일리지'
FROM 고객 
GROUP BY 도시 
) AS 도시별요약
WHERE 고객.도시 = 도시별요약.도시;
'''

In [8]:
cursor.execute(sql)
result = cursor.fetchall()

In [5]:
for row in cursor.fetchall():
  print(row)

('이은광', '굿모닝서울', 15911, '서울특별시', Decimal('11137.0800'), Decimal('-4773.9200'))
('김병현', '엘케이 상사', 406, '서울특별시', Decimal('11137.0800'), Decimal('10731.0800'))
('김성민', '씨엔그룹', 8788, '광명시', Decimal('4587.5000'), Decimal('-4200.5000'))
('최지수', '오리안무역 ', 6119, '서울특별시', Decimal('11137.0800'), Decimal('5018.0800'))
('강준', '남해종합식품', 106, '구리시', Decimal('106.0000'), Decimal('0.0000'))
('김민경', '서보앰엔에프', 729, '서울특별시', Decimal('11137.0800'), Decimal('10408.0800'))
('배순용', '대정 인터내셔널', 128790, '서울특별시', Decimal('11137.0800'), Decimal('-117652.9200'))
('박지혜', '제원인터내쇼날', 47865, '서울특별시', Decimal('11137.0800'), Decimal('-36727.9200'))
('오선주', '케이리할리스', 8758, '김해시', Decimal('8758.0000'), Decimal('0.0000'))
('황수영', '비큐큐푸드', 100, '서울특별시', Decimal('11137.0800'), Decimal('11037.0800'))
('이두원', '진가식품', 122, '평택시', Decimal('122.0000'), Decimal('0.0000'))
('김효정', '진산푸드', 1034, '서울특별시', Decimal('11137.0800'), Decimal('10103.0800'))
('이상훈', '한승F&B', 1331, '서울특별시', Decimal('11137.0800'), Decimal('9806.0800'))
('이소영', '유로에이치', 6608, '서울특별시', Decimal('11137.0800'), Decimal('4529.0800'))
('김유환', '한국맥널트 무역', 939, '인천광역시', Decimal('13088.0000'), Decimal('12149.0000'))
('우지선', '유성물산교역', 7232, '서울특별시', Decimal('11137.0800'), Decimal('3905.0800'))
('김태욱', '프루트코리아', 713, '서울특별시', Decimal('11137.0800'), Decimal('10424.0800'))
('김예진', '하이롱 식품', 6935, '서울특별시', Decimal('11137.0800'), Decimal('4202.0800'))
('김웅인', '주은통상', 1068, '서울특별시', Decimal('11137.0800'), Decimal('10069.0800'))
('김승정', '경북무역', 1140, '서울특별시', Decimal('11137.0800'), Decimal('9997.0800'))
('홍소현', '그린로더스', 81479, '인천광역시', Decimal('13088.0000'), Decimal('-68391.0000'))
('조재민', '와이지트레이드', 139, '서울특별시', Decimal('11137.0800'), Decimal('10998.0800'))
('권덕현', '플라워푸드', 364, '서울특별시', Decimal('11137.0800'), Decimal('10773.0800'))
('박은빈', '에이원카프', 139, '대전광역시', Decimal('14822.0000'), Decimal('14683.0000'))
('박지윤', '진산푸드 ', 653, '서울특별시', Decimal('11137.0800'), Decimal('10484.0800'))
('윤석영', '엠앤에스푸드', 1258, '인천광역시', Decimal('13088.0000'), Decimal('11830.0000'))
('김시혜', '보성허브', 906, '서울특별시', Decimal('11137.0800'), Decimal('10231.0800'))
('권기호', '태원 산업', 7065, '상주시', Decimal('7065.0000'), Decimal('0.0000'))
('황진영', '이베르코 무역', 136, '서울특별시', Decimal('11137.0800'), Decimal('11001.0800'))
('유휘재', '경민코퍼레이션', 114, '서울특별시', Decimal('11137.0800'), Decimal('11023.0800'))
('조효주', '대화유피스', 78001, '서울특별시', Decimal('11137.0800'), Decimal('-66863.9200'))
('정대광', '인터비스', 857, '인천광역시', Decimal('13088.0000'), Decimal('12231.0000'))
('박동찬', '시드니식품', 943, '전주시', Decimal('943.0000'), Decimal('0.0000'))
('김경태', '선인 상사', 631, '동두천시', Decimal('631.0000'), Decimal('0.0000'))
('박준영', '한영킹푸드', 9897, '서울특별시', Decimal('11137.0800'), Decimal('1240.0800'))
('신민주', '성민식품상사', 382, '춘천시', Decimal('382.0000'), Decimal('0.0000'))
('지승환', '조흥식품', 22260, '서울특별시', Decimal('11137.0800'), Decimal('-11122.9200'))
('오명일', '우양 통상', 8722, '서울특별시', Decimal('11137.0800'), Decimal('2415.0800'))
('김진혁', '상미식품', 917, '서울특별시', Decimal('11137.0800'), Decimal('10220.0800'))
('송아린', '진흥 상사', 2819, '부산광역시', Decimal('3985.2000'), Decimal('1166.2000'))
('정지윤', '신영 푸드', 449, '서울특별시', Decimal('11137.0800'), Decimal('10688.0800'))
('최해주', '세미원푸드', 7106, '부천시', Decimal('3614.5000'), Decimal('-3491.5000'))
('조희진', '진영무역', 8607, '과천시', Decimal('4835.5000'), Decimal('-3771.5000'))
('박소영', '태산무역', 806, '부산광역시', Decimal('3985.2000'), Decimal('3179.2000'))
('조가영', '태흥푸드', 36960, '서울특별시', Decimal('11137.0800'), Decimal('-25822.9200'))
('주민영', '오뚜락', 8838, '제주시', Decimal('8838.0000'), Decimal('0.0000'))
('이소연', '그린월드푸드 ', 428, '대전광역시', Decimal('14822.0000'), Decimal('14394.0000'))
('이수호', '뉴서울제과', 409, '오산시', Decimal('409.0000'), Decimal('0.0000'))
('정솔미', '푸드웰 통상', 662, '서울특별시', Decimal('11137.0800'), Decimal('10475.0800'))
('이성은', '헤리토 상사', 124, '서울특별시', Decimal('11137.0800'), Decimal('11013.0800'))
('조연희', '시대 통상', 7135, '수원시', Decimal('7135.0000'), Decimal('0.0000'))
('이재열', '진해푸드', 4036, '서울특별시', Decimal('11137.0800'), Decimal('7101.0800'))
('김도연', '보라티', 123, '부천시', Decimal('3614.5000'), Decimal('3491.5000'))
('신종수', '민성 무역', 10006, '서울특별시', Decimal('11137.0800'), Decimal('1131.0800'))
('손창민', '청운유통', 3852, '제천시', Decimal('3852.0000'), Decimal('0.0000'))
('서현지', '쉐프스푸드', 8717, '서울특별시', Decimal('11137.0800'), Decimal('2420.0800'))
('김지현', '코리아유통', 3967, '서울특별시', Decimal('11137.0800'), Decimal('7170.0800'))
('홍지우', '신푸드', 1149, '안산시', Decimal('1149.0000'), Decimal('0.0000'))
('김재경', '대두식품', 130, '서울특별시', Decimal('11137.0800'), Decimal('11007.0800'))
('오용석', '대덕종합무역', 1020, '서울특별시', Decimal('11137.0800'), Decimal('10117.0800'))
('오유진', '케이티에스씨', 7795, '부산광역시', Decimal('3985.2000'), Decimal('-3809.8000'))
('최효신', '지앤씨푸드', 1116, '서울특별시', Decimal('11137.0800'), Decimal('10021.0800'))
('이승연', '은혜식품', 387, '광명시', Decimal('4587.5000'), Decimal('4200.5000'))
('정다경', '솜인터내셔널', 120, '인천광역시', Decimal('13088.0000'), Decimal('12968.0000'))
('유석희', '코스리아 무역', 112, '인천광역시', Decimal('13088.0000'), Decimal('12976.0000'))
('이영훈', '한지생활건강', 884, '서울특별시', Decimal('11137.0800'), Decimal('10253.0800'))
('서우진', '한얼트레이딩', 903, '서울특별시', Decimal('11137.0800'), Decimal('10234.0800'))
('윤성준', '태화농산', 3888, '서울특별시', Decimal('11137.0800'), Decimal('7249.0800'))
('서한석', '프라하바이오', 432, '서울특별시', Decimal('11137.0800'), Decimal('10705.0800'))
('문인수', '엘에이플러스', 6851, '인천광역시', Decimal('13088.0000'), Decimal('6237.0000'))
('한현구', '황인터프라이시스', 116898, '서울특별시', Decimal('11137.0800'), Decimal('-105760.9200'))
('김동진', '시아 통상', 3873, '나주시', Decimal('3873.0000'), Decimal('0.0000'))
('김민준', '원양물산', 1092, '서울특별시', Decimal('11137.0800'), Decimal('10045.0800'))
('박건희', '탑푸드코리아', 57746, '대전광역시', Decimal('14822.0000'), Decimal('-42924.0000'))
('김지은', '대림에스엠', 1064, '과천시', Decimal('4835.5000'), Decimal('3771.5000'))
('김지호', '뉴가든상사', 1177, '부산광역시', Decimal('3985.2000'), Decimal('2808.2000'))
('김정현', '한림통상', 6942, '서울특별시', Decimal('11137.0800'), Decimal('4195.0800'))
('박규민', '국일식품', 733, '성남시', Decimal('799.0000'), Decimal('66.0000'))
('김보연', '지안 통상', 793, '서울특별시', Decimal('11137.0800'), Decimal('10344.0800'))
('김동호', '오트리푸드', 374, '서울특별시', Decimal('11137.0800'), Decimal('10763.0800'))
('정수환', '대동 무역', 975, '대전광역시', Decimal('14822.0000'), Decimal('13847.0000'))
('임재민', '오케이식품', 416, '공주시', Decimal('416.0000'), Decimal('0.0000'))
('김유희', '티알아이', 113, '안양시', Decimal('113.0000'), Decimal('0.0000'))
('김정원', '그린무역', 1213, '서울특별시', Decimal('11137.0800'), Decimal('9924.0800'))
('주현욱', '프레시코', 712, '의정부시', Decimal('712.0000'), Decimal('0.0000'))
('송지윤', '허브민트', 892, '시흥시', Decimal('892.0000'), Decimal('0.0000'))
('안수인', '컬러헬스푸드', 7329, '부산광역시', Decimal('3985.2000'), Decimal('-3343.8000'))
('김희원', '해피트리푸드', 448, '서울특별시', Decimal('11137.0800'), Decimal('10689.0800'))
('이승권', '금진 무역', 7296, '서울특별시', Decimal('11137.0800'), Decimal('3841.0800'))
('김하경', '유호무역 ', 865, '성남시', Decimal('799.0000'), Decimal('-66.0000'))
('장시현', '코림푸드', 1013, '서귀포시', Decimal('1013.0000'), Decimal('0.0000'))
('전혜연', '태성무역', 414, '서울특별시', Decimal('11137.0800'), Decimal('10723.0800'))
('장재성', '길드 통상', 261, '원주시', Decimal('261.0000'), Decimal('0.0000'))

In [ ]:
# 이걸 해야 다른 프로그램 돌릴 수 있음.
cursor.close()
con.close()

In [4]:
# mysql과 연결하는 함수 정의
def getconnection():
  con = pymysql.connect(
  host='localhost',
  user='root',
  password='1234',
  db='wntrade',
  charset='utf8'
)
  return con

In [1]:
import pandas as pd

In [ ]:
# mysql 연결함수 호출
con = getconnection()

try:
  # 2. 커서 생성 > with문 벗어나면 자동으로 cursor종료까지.
  with con.cursor() as cursor:
    # 3. sql 실행
    cursor.execute(sql)
    # 4. 쿼리실행결과 받기
    result = cursor.fetchall()
    # DataFrame으로 결과 변환하기
    result_df = pd.DataFrame(result)
    
finally:
  # 6. 연결 종료
  con.close()

In [13]:
result_df

      0       1      2      3           4           5
0   이은광   굿모닝서울  15911  서울특별시  11137.0800  -4773.9200
1   김병현  엘케이 상사    406  서울특별시  11137.0800  10731.0800
2   김성민    씨엔그룹   8788    광명시   4587.5000  -4200.5000
3   최지수  오리안무역    6119  서울특별시  11137.0800   5018.0800
4    강준  남해종합식품    106    구리시    106.0000      0.0000
..  ...     ...    ...    ...         ...         ...
88  이승권   금진 무역   7296  서울특별시  11137.0800   3841.0800
89  김하경   유호무역     865    성남시    799.0000    -66.0000
90  장시현    코림푸드   1013   서귀포시   1013.0000      0.0000
91  전혜연    태성무역    414  서울특별시  11137.0800  10723.0800
92  장재성   길드 통상    261    원주시    261.0000      0.0000

[93 rows x 6 columns]

In [14]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       93 non-null     object
 1   1       93 non-null     object
 2   2       93 non-null     int64
 3   3       93 non-null     object
 4   4       93 non-null     object
 5   5       93 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.5+ KB