# 조건문

In [1]:
1+2 #산술연산자 > 조건 x
a = 2
b = 3
a == b #비교연산자 > 조건o

False

In [4]:
age = int(input('당신의 나이는?'))
if age >= 18:
    print ("성인입니다.")
else:
    print ("미성년자입니다.")

당신의 나이는? 20

성인입니다.

In [5]:
# 합격, 불합격, 불합격을 출력

In [7]:
score = int(input("당신의 점수는 ? "))
CUT_LINE = 80
if score >= CUT_LINE:
    print ("합격입니다!")
else :
    print ("불합격입니다.")

당신의 점수는 ?  60

불합격입니다.

In [8]:
# 홀짝 판별기

In [13]:
num_1 = int(input('홀짝 판별기 : 숫자를 입력하세요'))
if num_1 % 2 == 1:
    print("홀수입니다")

else :
    print("짝수입니다")

홀짝 판별기 : 숫자를 입력하세요 12318092329

홀수입니다

In [16]:
# 1줄로 작성하기.

if num_1 % 2 -- 1 : print ("홀수입니다") else : print("짝수입니다")

SyntaxError: invalid syntax (1202391674.py, line 3)

In [19]:
# =if(조건식,참,거짓) << 엑셀에서 if함수..
# 참 if 조건식 else 거짓

In [18]:
 print ("홀수입니다") if num_1 % 2 == 1  else  print("짝수입니다")

홀수입니다

In [20]:
print("합격입니다") if score >= CUT_LINE else print ("불합격입니다")

불합격입니다

In [21]:
print("불합격입니다") if score >= CUT_LINE else print ("합격입니다")

합격입니다

In [22]:
# 학점 판별기
90 >= A
80 >+ B
70 >= C
60 >= D
F

In [36]:
score = int (input ("당신의 점수는 ?") )
CUTLINE_A = 90
CUTLINE_B = 80
CUTLINE_C = 70
CUTLINE_D = 60
if score >= CUTLINE_A :
    print ("A")
else :
    if score >= CUTLINE_B :
        print ("B")
    else :
        if score >= CUTLINE_C :
            print ("C")
        else : 
            if score >= CUTLINE_D :
                print ("D")
            else : 
                print ("F")

당신의 점수는 ? 97

A

In [37]:
# 중첩if문 > elif
if score >= CUTLINE_A : 
    print ("A")
elif score >= CUTLINE_B :
    print ("B")
elif score >= CUTLINE_C :
    print ("C")
elif score >= CUTLINE_D :
    print ("D")
else :
    print ("F")

A

In [34]:
print ("A") if score >= CUTLINE_A else print ("B") if score >= CUTLINE_B else print ("C") if score >= CUTLINE_C else print ("D") if score >= CUTLINE_D else print ("F")

A

In [ ]:
#계산기 마들기
# 숫자 + 숫자 > 결과입니다.

In [39]:
num_1 = int (input () )
num_2 = int (input () )
num_sum = num_1 + num_2

 2103
 128

In [43]:
if type(num_1) != int:
    print (num_1)
elif type(num_2) != int:
    print (num_2)
else :
    print (num_1+num_2)
#계산 안 됨...

2231

In [52]:
num1, opr, num2 = input ("수식을 입력하세요 (예. 20 + 20").split()
num1, opr, num2

수식을 입력하세요 (예. 20 + 20 40 * 40

('40', '*', '40')

In [53]:
num1 = float(num1)
num2 = float(num2)
num1, num2

(40.0, 40.0)

In [54]:
result = 0
if opr == '+' :
    result = num1 + num2
elif opr == '-' :
    result = num1 - num2
elif opr == '*' :
    result = num1 * num2
elif opr == '/' :
    result = num1 / num2
else :
    print ('사칙연산을 지원합니다')
print (f'{num1} {opr} {num2}의 결과는 {result}입니다.')

40.0 * 40.0의 결과는 1600.0입니다.

In [ ]:
#연습해보기

In [55]:
num_1, opr_1, num_2 = input ('수식을 입력하세요 (예:20 + 20 ' ).split()
num_1, opr_1, num_2

수식을 입력하세요 (예:20 + 20  4219 - 288

('4219', '-', '288')

In [56]:
num_1 = float (num_1)
num_2 = float (num_2)
num_1, num_2

(4219.0, 288.0)

In [60]:
result_1 = 0 
if opr_1 == '+':
    result_1 = num_1 + num_2
elif opr_1 == '-':
    result_1 = num_1 - num_2
elif opr_1 == '*':
    result_1 = num_1 * num_2
elif opr_1 == '/':
    result_1 = num_1 / num_2
else :
    print ('사칙연산을 지원합니다.')
print (f'{num_1} {opr_1} {num_2}의 결과는 {result_1}입니다.')

4219.0 - 288.0의 결과는 3931.0입니다.

In [63]:
# 재고관리
inventory = {
    '노트북':5,    '마우스':120,    '키보드':0,    '모니터':15
}
# 0  품절, 10 < 부족,  50 < 적정, 50 > 충분

In [88]:
qty = inventory ['노트북']
qty = int(qty)
qty

5

In [89]:
if qty == 0:
    print ('품절')
elif qty <= 10 :
    print ('부족')
elif qty <= 50 :
    print ('적정')
else :
    print ('충분')

부족

In [90]:
status = ''
if qty == 0:
    status = '품절'
elif qty <= 10 :
    status = '부족'
elif qty <= 50 :
    status = '적정'
else :
    status = '충분'
print (f'{qty} 로 {status} 상태입니다.')

5 로 부족 상태입니다.

In [94]:
#반복

for name, qty in inventory.items():
#qty = inventory['노트북']
    if qty == 0:
        status = '품절'
    elif qty <= 10 :
        status = '부족'
    elif qty <= 50 :
        status = '적정'
    else :
        status = '충분'
    print (f'{name} : {qty} 로 {status} 상태입니다.')

노트북 : 5 로 부족 상태입니다.
마우스 : 120 로 충분 상태입니다.
키보드 : 0 로 품절 상태입니다.
모니터 : 15 로 적정 상태입니다.

In [105]:
sentence = input ("문장을 입력하세요: ")
words = ['파이썬', '코딩', '데이터', 'AI']

found_word = None

for word in words :
    if word in sentence:
        found_word = word
        break

if found_word:
    print(f"입력한 문장에서 '{found_word}' 단어를 찾았습니다!")
else :
    print ("입력한 문장에 해당 단어가 없습니다.")

문장을 입력하세요:  나는 축구를 좋아합니다.

입력한 문장에 해당 단어가 없습니다.

In [102]:
found_word = None

for word in words:
    if word in sentence :
        found_word = word
        break

if foun_word:
    print (f'입력한 문장에서 "{found_word}"를 찾았습니다!')
else :
    print ("입력한 문장에 해당 단어가 없습니다.")

입력한 문장에서 "파이썬"를 찾았습니다!

In [106]:
found_word = None

for word in words:
    if word in sentence:
        found_word = word
        break

if found_word:
    print(f'입력한 문장에서 "{found_word}" 단어를 찾았습니다!')
else :
    print (f'입력한 문장에 해당 단어가 없습니다.')

입력한 문장에 해당 단어가 없습니다.

In [110]:
# 놀이공원 입장료 계산 프로그램

age = int ( input ("나이를 입력하세요 : ") )
입장요금 = None
if age <= 7:
    입장요금 = '무료'
elif age <= 18:
    입장요금 = 5000
elif age <= 62:
    입장요금 = 10000
else :
    입장요금 = '무료'

print (f'나이는 {age}로 입장요금이 {입장요금}입니다.')

나이를 입력하세요 :  55

나이는 55로 입장요금이 10000입니다.

In [111]:
def check_access(user_role):
    if user_role == 'admin':
        return "관리자 페이지에 접근 가능합니다"
    elif user_role == "user":
        return "일반사용자 페이지에 접근 가능합니다"
    else :
        return "접근 권한이 없습니다"

print (check_access("admin"))
print (check_access("user"))
print (check_access("guest"))

관리자 페이지에 접근 가능합니다
일반사용자 페이지에 접근 가능합니다
접근 권한이 없습니다

In [115]:
현재상태 = True # boolean variable

print ("졸려") if 현재상태 == 1 else print("화이팅")

졸려

In [118]:
msg = '졸려' if 현재상태 == 1 else '화이팅'
msg

'졸려'

In [122]:
#가위바위보
player_1 = '가위'
computer_1 = '바위'
result = '승' if computer_1 == '보' result = '패'
result

print (result) #승패 : 패

SyntaxError: expected 'else' after 'if' expression (889467494.py, line 4)

In [123]:
#가위바위보
player_1 = '가위'
computer_1 = '바위'

result = '승' if ( ( player_1 == '가위' and computer_1 == '보') or \
                  ( player_1 == '바위' and computer_1 == '가위') or \
                  (player_1 == '보' and computer_1 == '바위') ) else '패'

print (result) #패

패

In [126]:
#가위바위보
player_1 = input ('가위 바위 보 중 하나를 내세요 유저:')
computer_1 = input ('가위 바위 보 중 하나를 내세요 컴퓨터: ')

result = '승' if ( ( player_1 == '가위' and computer_1 == '보') or \
                  ( player_1 == '바위' and computer_1 == '가위') or \
                  (player_1 == '보' and computer_1 == '바위') ) else \
         '무승부' if player_1== computer_1 else \
         '패'

print (result) #패

가위 바위 보 중 하나를 내세요 유저: 가위
가위 바위 보 중 하나를 내세요 컴퓨터:  바위

패

In [ ]:
#'승' if () else '무승부' if () else '패'

In [132]:
import random
options = ['가위', '바위', '보']

player = input ("가위, 바위, 보 중 하나를 내세요:")
computer = random.choice(options)

result = '승' if ((player == '가위' and computer == '보') or \
                 (player == '바위' and computer == '가위') or \
                 (player == '보' and computer == '바위')) else \
         '무승부' if player == computer else \
         '패'

print (f'가위바위보 결과는 user:{player} computer:{computer}로 결과는 {result}입니다.')

가위, 바위, 보 중 하나를 내세요: 가위

가위바위보 결과는 user:가위 computer:가위로 결과는 무승부입니다.

In [ ]:
#학점판단조건 > 1줄로 기록해보기

In [144]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15]
search_number = int(input("찾을 숫자를 입력하세요"))

for num in numbers:
    if num == search_number:
        print (f"{search_number}를 찾았습니다.")
        break #영향> 가장 가까운 반복문에
    print (f"현재 검사 중인 숫자: {num}")
else :
    print (f"해당 숫자({search_number})를 못 찾았습니다.")

찾을 숫자를 입력하세요 14

현재 검사 중인 숫자: 1
현재 검사 중인 숫자: 3
현재 검사 중인 숫자: 5
현재 검사 중인 숫자: 7
현재 검사 중인 숫자: 9
현재 검사 중인 숫자: 11
현재 검사 중인 숫자: 13
현재 검사 중인 숫자: 15
해당 숫자(14)를 못 찾았습니다.

In [153]:
for i in range(1,11): #짝수만 출력
    if i % 2 == 1:    #홀수이면 continue
        continue
    print (i)

2
4
6
8
10

In [159]:
# numbers = [1, 3, 5, 7, 9, 11, 13, 15]
search_number = int(input("찾을 숫자를 입력하세요"))

for num in numbers:
    if num == search_number:
        print (f"{search_number}를 \
        {numbers.index(search_number)+1}번째에서 찾았습니다.")
        break #영향> 가장 가까운 반복문에
    print (f"현재 검사 중인 숫자: {num}")
else :
    print (f"해당 숫자({search_number})를 못 찾았습니다.")

찾을 숫자를 입력하세요 11

현재 검사 중인 숫자: 1
현재 검사 중인 숫자: 3
현재 검사 중인 숫자: 5
현재 검사 중인 숫자: 7
현재 검사 중인 숫자: 9
11를         6번째에서 찾았습니다.

In [162]:
# numbers = [1, 3, 5, 7, 9, 11, 13, 15]
search_number = int(input("찾을 숫자를 입력하세요"))
idx = 1

for num in numbers:
    if num == search_number:
        print (f"{search_number}를 \
        {idx}번째에서 찾았습니다.")
        break #영향> 가장 가까운 반복문에
    print (f"현재 검사 중인 숫자: {num}")
    idx = idx + 1
else :
    print (f"해당 숫자({search_number})를 못 찾았습니다.")

찾을 숫자를 입력하세요 11

현재 검사 중인 숫자: 1
현재 검사 중인 숫자: 3
현재 검사 중인 숫자: 5
현재 검사 중인 숫자: 7
현재 검사 중인 숫자: 9
11를         6번째에서 찾았습니다.

In [166]:
result = 1
if result == 0 :
    pass
elif result > 0 :
    pass
else :
    pass

print (result)

1

In [168]:
result = 1
if result == 0 :
    pass
elif result > 0 :
    print ('양수')
else :
    print ('음수')

양수

# 반복문

In [169]:
fruits = ["사과", "바나나", "포도"]

for fruit in fruits:
    print (fruit)

사과
바나나
포도

In [170]:
for i in range(3):
    print(i)

0
1
2

In [172]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [173]:
type(range(10)), range(10)

(range, range(0, 10))

In [176]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [179]:
for i in range(4,101,4):
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [188]:
for i in range(1,101):
    if i % 4 == 0 :
        print (i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [189]:
data = [0,1,2,3,4]
data

[0, 1, 2, 3, 4]

In [190]:
for var in data :
    print (var)

0
1
2
3
4

In [193]:
data_eng = ['ben','white','kai','delcan','rice']

for var in data_eng :
    print (var)

ben
white
kai
delcan
rice

In [196]:
data = 'Hello!'
data
for var in data :
    print (var)

H
e
l
l
o
!

In [200]:
%%time
sum_i = 0
for i in range (1,100001) :
    sum_i += i
print(sum_i)

5000050000
CPU times: total: 31.2 ms
Wall time: 29.3 ms

In [202]:
%%time
num = range (1,100001)
result = sum(num)
result

CPU times: total: 0 ns
Wall time: 1.33 ms

5000050000

In [204]:
%%time
sum_value = 0
num = range(1,100001)

for i in num:
    sum_value += i
print (sum_value)

5000050000
CPU times: total: 15.6 ms
Wall time: 25.1 ms

In [212]:
# 문자열 순회
password = input("비밀번호를 입력하세요 : ")
# 비밀번호 조건 만족여부 확인
isUpper = False
isDigit = False
isLower = False
special_char = "!@#$%^&*)(><,./"
isSpecial = False

for char in password :
    if char.isupper() : #대문자인지 확인
        isUpper = True
    elif char.isdigit() : #숫자인지 확인
        isDigit = True
    elif char.islower() :
        isLower = True
    elif char in special_char :
        isSpecial = True
print (f'비밀번호 강도 조건 만족여부 : {'만족'if isUpper == 1 and isDigit == 1 and isLower == 1 and isSpecial ==1 else '불만족'}')

비밀번호를 입력하세요 :  19jwW

비밀번호 강도 조건 만족여부 : 불만족

In [214]:
# 문자열 순회
password = input("비밀번호를 입력하세요 : ")
# 비밀번호 조건 만족여부 확인
isUpper = False
isDigit = False
isLower = False
special_char = "!@#$%^&*)(><,./"
isSpecial = False

for char in password :
    if char.isupper() : #대문자인지 확인
        isUpper = True
    elif char.isdigit() : #숫자인지 확인
        isDigit = True
    elif char.islower() :
        isLower = True
    elif char in special_char :
        isSpecial = True
        check_result = isUpper + isDigit + isLower + isSpecial
print (f'비밀번호 강도 조건 만족여부 : {'만족'if check_result == 4 else '불만족'}')

비밀번호를 입력하세요 :  129dK2@

비밀번호 강도 조건 만족여부 : 만족

In [206]:
dir(password)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [216]:
obj = range ( 1, 4 )
type ( obj )

range

In [217]:
dir ( obj )

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [218]:
#방문자
visitor_ids = [ 101, 102, 103, 101, 104, 102, 105, 101, 103 ]
#순방문
net_visitor_ids = set (visitor_ids)
net_visitor_ids

{101, 102, 103, 104, 105}

In [221]:
print (f'총방문자수 : {len(visitor_ids)}')
print (f'순방문자수 : {len(net_visitor_ids)}')
# 고유 방문자 목록 출력

for visitor_id in net_visitor_ids :
    print (f'사용자 #{visitor_id}')

총방문자수 : 9
순방문자수 : 5
사용자 #101
사용자 #102
사용자 #103
사용자 #104
사용자 #105

In [225]:
for i in range(1,4):
    for j in range (1,4):
        print (i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

# 중복반복문

In [227]:
for i in range(5):
    for j in range (5):
        print (i,j) # i = 0 , j = 0

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [235]:
%%time
for i in range (2,10):
    for j in range (2,10):
        print (f"{i}*{j}={i*j}")

2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
CPU times: total: 0 ns
Wall time: 1.43 ms

In [239]:
for i in range (2,10):
    for j in range (2,10):
        if i % 2 == 0 :
            print(f"{i}*{j}={i*j}")

2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

In [240]:
for i in range (2,10):
    for j in range (2,10):
        if i % 2 == 1 :
            print(f"{i}*{j}={i*j}")

3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

# 내장함수 enumerate()

In [241]:
char_list = ['a', 'b', 'c']
for x in char_list:
    print (x)
for i, v in enumerate(char_list):
    print (i,v)

a
b
c
0 a
1 b
2 c

In [246]:
list(enumerate(char_list))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [247]:
dir(enumerate)

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [248]:
list(enumerate(char_list,1))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# 내장함수 zip()

In [263]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
    print (f'{name}은(는) {age}살이고, {city}에 살고 있습니다.')

Alice은(는) 25살이고, 서울에 살고 있습니다.
Bob은(는) 30살이고, 부산에 살고 있습니다.
Charlie은(는) 35살이고, 대구에 살고 있습니다.

In [249]:
zip_list_1 = ['hello', 'hi', 'good-bye']
zip(zip_list_1, char_list)

In [250]:
list(zip(zip_list_1, char_list))

[('hello', 'a'), ('hi', 'b'), ('good-bye', 'c')]

In [258]:
char_obj = zip(char_list, zip_list_1)
char_obj

In [252]:
for item in char_obj:
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [260]:
for item in char_obj:
    print(item[1])

In [264]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
    print (f'{name}은(는) {age}살이고, {city}에 살고 있습니다.')

Alice은(는) 25살이고, 서울에 살고 있습니다.
Bob은(는) 30살이고, 부산에 살고 있습니다.
Charlie은(는) 35살이고, 대구에 살고 있습니다.

In [265]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names,ages,cities):
    print (f'{name}은(는) {age}살이고, {city}에 살고 있습니다.')

Alice은(는) 25살이고, 서울에 살고 있습니다.
Bob은(는) 30살이고, 부산에 살고 있습니다.
Charlie은(는) 35살이고, 대구에 살고 있습니다.

In [266]:
char_list_2 = ['hello', 'hi', 'good-bye']
for item in zip(char_list, char_list_2):
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [275]:
#날짜 입력받기
year = int ( input ('년도를 입력하시오: '))
month = int ( input ( '월을 입력하시오: ' ))
day = int ( input ('일을 입력하시오 : ' ))

년도를 입력하시오:  2026
월을 입력하시오:  1
일을 입력하시오 :  5

In [276]:
import datetime
calc_day = datetime.date(year,month,day).weekday() #요일값 0~6 월~일
week_day = ['월','화','수','목','금','토','일']
week_day [calc_day]
print (f'{week_day[calc_day]}요일입니다.')

월요일입니다.

In [277]:
# 총일수 % 7 > calc_day > week_day
# 2026. 1/5 >> 5 % 7 == 5.. > 2... 나머지로 요일 결정
# 입력일 : 2025-10-5
# 년도 : 1~2024 * 365 or 366 
# 월 : 1~9 월 * 30 (4,6,9,11)/31(1,3,5,7,8,10,12)/28,29(2)
# 일 : 일
# 윤년 : 4의 배수 = 윤년 > 366, 100의 배수 = 365, 400의 배수 =366

In [ ]:
year = int ( input ("년도를 입력하세요: "))
month = int ( input ("월을 입력하세요: "))
day = int ( input ("일을 입력하세요: "))

In [278]:
for fruit in fruits:
    print(fruit)  # 사과, 포도, 딸기만 출력

# 2. enumerate를 썼을 때 (번호표 등장!)
for i, fruit in enumerate(fruits):
    print(f"{i}번 바구니에 {fruit}가 있어요.")

사과
바나나
포도
0번 바구니에 사과가 있어요.
1번 바구니에 바나나가 있어요.
2번 바구니에 포도가 있어요.

# 요일 구하기

In [21]:
year = int ( input ("년도를 입력하세요: "))
month = int ( input ("월을 입력하세요: "))
day = int ( input ("일을 입력하세요: "))
print (f'{week_day[calc_day]}입니다.')

년도를 입력하세요:  2024
월을 입력하세요:  3
일을 입력하세요:  15

NameError: name 'week_day' is not defined

In [22]:
year,month,day

(2024, 3, 15)

In [25]:
# 연도 날 수 계산
total_days = 0

for i in range(1,year): #2024년까지
    if i % 400 == 0 : #윤년
        total_days += 366
    elif i % 100 == 0 : #평년
        total_days += 365
    elif i % 4 == 0 : #윤년
        total_days += 366
    else : #평년
        total_days += 365
    
print (f'1st :  {total_days}, {year}')
# 월 날 수 계산

month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for m in range(1,month):
    total_days += month_days[m]
print (f'2nd :  {total_days}, {year}')

#올해가 윤년인지 체크 +1
if month >=3 :
    #윤년체크
    if year % 400 == 0 : #윤년
        total_days += 366
    elif year % 100 == 0 : #평년
        total_days += 365
    elif year % 4 == 0 : #윤년
        total_days += 366
    else : #평년
        total_days += 365

print (f'3rd :  {total_days}, {year}, {month} ') #윤년 더하기

total_days += day

print (f'4th :  {total_days}, {year}, {month}, {day}') #일까지 더하기

remain = total_days % 7 
result = None

if remain == 0:
    result = '일요일'
elif remain == 1:
    result = '월요일'
elif remain == 2:
    result = '화요일'
elif remain == 3:
    result = '수요일'
elif remain == 4:
    result = '목요일'
elif remain == 5:
    result = '금요일'
elif remain == 6:
    result = '토요일'

print (f'{year}년 {month}월 {day}일은 {result}입니다.')
# 연도 + 월 + 일 % 7 >>> 요일에 해당하는 수

1st :  738885, 2024
2nd :  738944, 2024
3rd :  739310, 2024, 3
4th :  739325, 2024, 3, 15
2024년 3월 15일은 토요일입니다.

In [27]:
lliisstt = {0:'일요일',1:'월요일',2:'화요일',3:'수요일',4:'목요일',5:'금요일',6:'토요일'}
rree = total_days % 7
yoil = lliisstt[rree] 

print (f'{year}년 {month}월 {day}일은 {yoil}입니다.')

2024년 3월 15일은 토요일입니다.

In [1]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2','name':'ju', 'kor':70, 'math':90,'eng':90,},
            {'num':'3','name':'h', 'kor':90, 'math':70,'eng':60,},
            {'num':'4','name':'j', 'kor':40, 'math':90,'eng':40,},
            {'num':'5','name':'k', 'kor':90, 'math':90,'eng':90,}]

In [ ]:
# 학생별 총점, 평균, 순위 -> 속성추가 ->출력
# 전체 총점, 평균 >> 출력
# 과목별 평균 >> 출력

In [29]:
dir(students)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
bbccdd = {1:"",2:"",3:""}
type (bbccdd)
dir(bbccdd)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [33]:
sum_1 = int(students['kor'])+int(students['math'])+int(students['eng'])
students.update({'총점':sum_1})
print (students)

TypeError: list indices must be integers or slices, not str

In [3]:
for student in students:
    student_sum = student['kor']+student['eng']+student['math']
    print (student_sum) 
    student['총점']=student_sum
    print (student)

270
{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, '총점': 270}
250
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, '총점': 250}
220
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, '총점': 220}
170
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, '총점': 170}
270
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, '총점': 270}

In [14]:
for s in students :
    s['총점'] = s['kor']+s['eng'] + s['math']
    s['평균'] = round(s['총점']/3, 2)
    print(s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, '총점': 270, '평균': 90.0}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, '총점': 250, '평균': 83.33}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, '총점': 220, '평균': 73.33}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, '총점': 170, '평균': 56.67}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, '총점': 270, '평균': 90.0}

In [27]:
for t in students :
    print (t)
    for k in t.values('평균'):
        print (k)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, '총점': 270, '평균': 90.0}

TypeError: dict.values() takes no arguments (1 given)

In [20]:
students[0]

{'num': '1',
 'name': 'kim',
 'kor': 80,
 'math': 90,
 'eng': 100,
 '총점': 270,
 '평균': 90.0}

90.0

In [1]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2','name':'ju', 'kor':70, 'math':90,'eng':90,},
            {'num':'3','name':'h', 'kor':90, 'math':70,'eng':60,},
            {'num':'4','name':'j', 'kor':40, 'math':90,'eng':40,},
            {'num':'5','name':'k', 'kor':90, 'math':90,'eng':90,}]

In [4]:
for s in students:
    print (s)
print (students[0])

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90}
{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}

In [6]:
for s in students :
    s['총점'] = s['kor'] + s['math'] + s['eng']
    s['평균'] = round(s['총점']/3 , 2)
    print (s)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, '총점': 270, '평균': 90.0}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, '총점': 250, '평균': 83.33}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, '총점': 220, '평균': 73.33}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, '총점': 170, '평균': 56.67}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, '총점': 270, '평균': 90.0}

In [12]:
for s in students : 
    print (s['평균'])
print (dir(s))

90.0
83.33
73.33
56.67
90.0
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [15]:
s_sum = s.values()
s_sum

dict_values(['5', 'k', 90, 90, 90, 270, 90.0])

In [30]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2','name':'ju', 'kor':70, 'math':90,'eng':90,},
            {'num':'3','name':'h', 'kor':90, 'math':70,'eng':60,},
            {'num':'4','name':'j', 'kor':40, 'math':90,'eng':40,},
            {'num':'5','name':'k', 'kor':90, 'math':90,'eng':90,}]

In [40]:
all_avg = []
for ss in students :
    ss['sum'] = ss['kor'] + ss['math'] + ss['eng']
    ss['avg'] = round(ss['sum']/3 , 2)
    print ( ss )
    all_avg.append(ss['avg'])

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'sum': 270, 'avg': 90.0}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, 'sum': 250, 'avg': 83.33}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, 'sum': 220, 'avg': 73.33}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, 'sum': 170, 'avg': 56.67}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, 'sum': 270, 'avg': 90.0}

In [41]:
all_avg

[90.0, 83.33, 73.33, 56.67, 90.0]

In [42]:
all_avg.sort(reverse = True)
all_avg

[90.0, 90.0, 83.33, 73.33, 56.67]

In [44]:
for ss in students:
    ss['rank'] = all_avg.index(ss['avg'])+1
    print (ss)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'sum': 270, 'avg': 90.0, 'rank': 1}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, 'sum': 250, 'avg': 83.33, 'rank': 3}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, 'sum': 220, 'avg': 73.33, 'rank': 4}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, 'sum': 170, 'avg': 56.67, 'rank': 5}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, 'sum': 270, 'avg': 90.0, 'rank': 1}

In [46]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2','name':'ju', 'kor':70, 'math':90,'eng':90,},
            {'num':'3','name':'h', 'kor':90, 'math':70,'eng':60,},
            {'num':'4','name':'j', 'kor':40, 'math':90,'eng':40,},
            {'num':'5','name':'k', 'kor':90, 'math':90,'eng':90,}]

In [47]:
aa_avgs = []
for aa in students:
    aa['sum'] = aa['kor'] + aa['math'] + aa['eng']
    aa['avg'] = round (aa['sum'] / 3 )
    aa_avgs.append(aa['avg'])
aa_avgs

[90, 83, 73, 57, 90]

In [49]:
aa_avgs.sort(reverse = True)
aa_avgs

[90, 90, 83, 73, 57]

In [52]:
for aa in students:
    aa['rank'] = aa_avgs.index(aa['avg'])+1
    print (aa)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'sum': 270, 'avg': 90, 'rank': 1}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, 'sum': 250, 'avg': 83, 'rank': 3}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, 'sum': 220, 'avg': 73, 'rank': 4}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, 'sum': 170, 'avg': 57, 'rank': 5}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, 'sum': 270, 'avg': 90, 'rank': 1}

In [53]:
students = [{'num':'1','name':'kim', 'kor':80, 'math':90,'eng':100,},
            {'num':'2','name':'ju', 'kor':70, 'math':90,'eng':90,},
            {'num':'3','name':'h', 'kor':90, 'math':70,'eng':60,},
            {'num':'4','name':'j', 'kor':40, 'math':90,'eng':40,},
            {'num':'5','name':'k', 'kor':90, 'math':90,'eng':90,}]

In [54]:
for q in students:
    q['sum'] = q['kor']+q['math']+q['eng']
    q['avg'] = round(q['sum']/3, 2 )
    print (q)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'sum': 270, 'avg': 90.0}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, 'sum': 250, 'avg': 83.33}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, 'sum': 220, 'avg': 73.33}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, 'sum': 170, 'avg': 56.67}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, 'sum': 270, 'avg': 90.0}

In [58]:
q_avg = []
for q in students:
    q_avg.append(q['avg'])
q_avg.sort(reverse = True)

for q in students:
    q['rank'] = q_avg.index(q['avg'])+1
    print (q)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'sum': 270, 'avg': 90.0, 'rank': 1}
{'num': '2', 'name': 'ju', 'kor': 70, 'math': 90, 'eng': 90, 'sum': 250, 'avg': 83.33, 'rank': 3}
{'num': '3', 'name': 'h', 'kor': 90, 'math': 70, 'eng': 60, 'sum': 220, 'avg': 73.33, 'rank': 4}
{'num': '4', 'name': 'j', 'kor': 40, 'math': 90, 'eng': 40, 'sum': 170, 'avg': 56.67, 'rank': 5}
{'num': '5', 'name': 'k', 'kor': 90, 'math': 90, 'eng': 90, 'sum': 270, 'avg': 90.0, 'rank': 1}

# while 문

In [2]:
sum_1 = 0 # 변수의 초기화
for i in range(1,11): #1,2,3,...,10
    sum_1 += i  # i값의 합계 >> #처리
sum_1 #출력

55

In [8]:
# while 조건문 : 바로 while True 하고 >> if 에서 뒤에 조건
sum_2 = 0
i = 0

while True : #조건
    sum_2 = sum_2 + i
    i = i + 1 #45, 10
    if i >= 10 : #조건식
        break
    #i = i + 1
print (sum_2, i)

45 10

In [9]:
# while 조건문 : while 바로 뒤에 조건 >> 뒤에 따로 조건 x break도 x
user_input = None
while user_input != "Exit":
    # True인 동안 실행
    user_input = input ('명령을 입력하세요 (Exit를 넣으면 종료합니다. )' )
    print (f'입력하신 명령은 {user_input}입니다.')

print ('Exit 명령을 입력하셨습니다.')

명령을 입력하세요 (Exit를 넣으면 종료합니다. ) Exit

입력하신 명령은 Exit입니다.
Exit 명령을 입력하셨습니다.

In [5]:
user_input = None
while user_input != "exit":
    # True인 동안 실행
    user_input = input ('명령을 입력하세요 (Exit를 넣으면 종료합니다. )' ).lower()
    print (f'입력하신 명령은 {user_input}입니다.')

print ('Exit 명령을 입력하셨습니다.')

명령을 입력하세요 (Exit를 넣으면 종료합니다. ) exIt

입력하신 명령은 exit입니다.
Exit 명령을 입력하셨습니다.

In [7]:
dir('a')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
while True : #무한루프
    # break 조건 필수!
    # print ('이 코드는 계속 실행됩니다!')

In [12]:
i = 0
while True :
    print ( '*'*i)
    i += 1
    if i == 6:
        break

*
**
***
****
*****

In [13]:
i = 0
while i < 6:
    print ('*'*i)
    i += 1

*
**
***
****
*****

# 업앤다운 게임

In [20]:
import random
number = random.randint(1,100)
 #컴퓨터의 선택

In [21]:
n = 0
while True :
    #입력받기
    user_num = int ( input ('1~10 사이의 숫자를 맞추세요! ') )
    n += 1
    #조건
    if user_num == number :
        print (f'정답입니다! 도전횟수:{n}')
        break
    elif user_num > number :
        print ('down')
    else :
        print ('up')

1~10 사이의 숫자를 맞추세요!  50

up

1~10 사이의 숫자를 맞추세요!  70

up

1~10 사이의 숫자를 맞추세요!  85

down

1~10 사이의 숫자를 맞추세요!  77

down

1~10 사이의 숫자를 맞추세요!  73

up

1~10 사이의 숫자를 맞추세요!  75

정답입니다! 도전횟수:6