In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(0)

In [72]:
df = pd.read_csv('./data/insurance.csv')
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [73]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [74]:
df['double_bmi'] = df['bmi']*2
df

      age     sex     bmi  children smoker     region      charges  double_bmi
0      19  female  27.900         0    yes  southwest  16884.92400       55.80
1      18    male  33.770         1     no  southeast   1725.55230       67.54
2      28    male  33.000         3     no  southeast   4449.46200       66.00
3      33    male  22.705         0     no  northwest  21984.47061       45.41
4      32    male  28.880         0     no  northwest   3866.85520       57.76
...   ...     ...     ...       ...    ...        ...          ...         ...
1333   50    male  30.970         3     no  northwest  10600.54830       61.94
1334   18  female  31.920         0     no  northeast   2205.98080       63.84
1335   18  female  36.850         0     no  southeast   1629.83350       73.70
1336   21  female  25.800         0     no  southwest   2007.94500       51.60
1337   61  female  29.070         0    yes  northwest  29141.36030       58.14

[1338 rows x 8 columns]

In [75]:
df['debt'] = 0
df

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,0
2,28,male,33.000,3,no,southeast,4449.46200,66.00,0
3,33,male,22.705,0,no,northwest,21984.47061,45.41,0
4,32,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,0

In [76]:
# 5번 문제 해결하기
# df['debt'].ffill()
# df

# 방법 1
# df['debt'] = df.index

# 방법 2 
# df['debt'] = range(len(df))

# 방법 3
# df['debt'] = np.arange(len(df))

In [77]:
df.iloc[0]

age                  19
sex              female
bmi                27.9
children              0
smoker              yes
region        southwest
charges       16884.924
double_bmi         55.8
debt                  0
Name: 0, dtype: object

In [78]:
df.index[0]

0

In [79]:
# 문제 7 'double bmi' 열 삭제하기
# df.drop('double_bmi', axis = 1, inplace = True)

In [80]:
df.loc[:,['age','sex']]
# 방법 2 > df.loc[['age','sex']]
# 방법 3 > df.iloc[:,:3] >> bmi까지 추출
# 방법 4 > df.loc[:, 'age':'bmi'] >> bmi까지 추출

      age     sex
0      19  female
1      18    male
2      28    male
3      33    male
4      32    male
...   ...     ...
1333   50    male
1334   18  female
1335   18  female
1336   21  female
1337   61  female

[1338 rows x 2 columns]

In [81]:
# 문제 9 > 나이를 1살씩 증가시키기
df['age'] = df['age'] + 1
# df['age'] = df['age' + 1] >> 이렇게는 안 됨..

In [82]:
df['age']

0       20
1       19
2       29
3       34
4       33
        ..
1333    51
1334    19
1335    19
1336    22
1337    62
Name: age, Length: 1338, dtype: int64

In [83]:
# [문제10] charges의 표시형식을 소수점 아래 2자리로 바꾸기
# df['charges'] = (df['charges']:.2f) > 오류코드

# 방법 1 제일 간편해 보임!
df['charges'].round(2)
# 방법 2
# round(df['charges'], 2)
# 방법 3 - map > 얘는 apply와 달리 Series 전용
# df['charges'].map('{:.2f}'.format)

df

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,19,male,33.770,1,no,southeast,1725.55230,67.54,0
2,29,male,33.000,3,no,southeast,4449.46200,66.00,0
3,34,male,22.705,0,no,northwest,21984.47061,45.41,0
4,33,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,0

In [87]:
# 방법 4 - apply > 데이터 값 자체를 바꾸진 않음 
def round_2(data):
  return round(data, 2)

df['charges'].apply(round_2)

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.94
1337    29141.36
Name: charges, Length: 1338, dtype: float64

In [88]:
df

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,19,male,33.770,1,no,southeast,1725.55230,67.54,0
2,29,male,33.000,3,no,southeast,4449.46200,66.00,0
3,34,male,22.705,0,no,northwest,21984.47061,45.41,0
4,33,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,0

In [89]:
df.sort_index(axis=1) # 원본 데이터는 건들이지 않았음 axis=1 해야함!

,age,bmi,charges,children,debt,double_bmi,region,sex,smoker
0,20,27.900,16884.92400,0,0,55.80,southwest,female,yes
1,19,33.770,1725.55230,1,0,67.54,southeast,male,no
2,29,33.000,4449.46200,3,0,66.00,southeast,male,no
3,34,22.705,21984.47061,0,0,45.41,northwest,male,no
4,33,28.880,3866.85520,0,0,57.76,northwest,male,no
...,...,...,...,...,...,...,...,...,...
1333,51,30.970,10600.54830,3,0,61.94,northwest,male,no
1334,19,31.920,2205.98080,0,0,63.84,northeast,female,no
1335,19,36.850,1629.83350,0,0,73.70,southeast,female,no
1336,22,25.800,2007.94500,0,0,51.60,southwest,female,no
1337,62,29.070,29141.36030,0,0,58.14,northwest,female,yes

In [90]:
df

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,19,male,33.770,1,no,southeast,1725.55230,67.54,0
2,29,male,33.000,3,no,southeast,4449.46200,66.00,0
3,34,male,22.705,0,no,northwest,21984.47061,45.41,0
4,33,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,0

In [29]:
df.sort_values(['age'], ascending=False)
# df.sort_values(by='age', ascending=False) > 이렇게도..

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
1265,65,male,23.760,0,yes,southeast,26926.51,47.52,0
1241,65,male,36.960,2,yes,southeast,49577.66,73.92,0
752,65,male,37.905,0,no,northwest,14210.54,75.81,0
768,65,female,39.700,0,no,southwest,14319.03,79.40,0
825,65,female,31.825,2,no,northeast,16069.08,63.65,0
...,...,...,...,...,...,...,...,...,...
157,19,male,25.175,0,yes,northeast,15518.18,50.35,0
161,19,female,36.850,0,yes,southeast,36149.48,73.70,0
46,19,female,38.665,2,no,northeast,3393.36,77.33,0
50,19,female,35.625,0,no,northeast,2211.13,71.25,0
866,19,male,37.290,0,no,southeast,1141.45,74.58,0

In [30]:
df['age'].mean()

np.float64(40.20702541106129)

In [34]:
# df['charges','age'].cov() >> 이렇게 하면 안됨
df.cov(numeric_only=True) # age와 charges가 cov가 가장 높

,age,bmi,children,charges,double_bmi,debt
age,197.401387,9.362337,0.719303,5.087480e+04,18.724673,0.0
bmi,9.362337,37.187884,0.093795,1.464730e+04,74.375767,0.0
children,0.719303,0.093795,1.453213,9.926743e+02,0.187590,0.0
charges,50874.801787,14647.304865,992.674264,1.466524e+08,29294.609729,0.0
double_bmi,18.724673,74.375767,0.187590,2.929461e+04,148.751534,0.0
debt,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.0

In [35]:
df.corr(numeric_only=True) # charges와 age가 .299로 가장 corr 높

                 age       bmi  children   charges  double_bmi  debt
age         1.000000  0.109272  0.042469  0.299008    0.109272   NaN
bmi         0.109272  1.000000  0.012759  0.198341    1.000000   NaN
children    0.042469  0.012759  1.000000  0.067998    0.012759   NaN
charges     0.299008  0.198341  0.067998  1.000000    0.198341   NaN
double_bmi  0.109272  1.000000  0.012759  0.198341    1.000000   NaN
debt             NaN       NaN       NaN       NaN         NaN   NaN

In [109]:
# 성별 sex female = 0, male = 1
# region 은 원핫인코딩
temp_df = df['sex'].map({'female':0, 'male':1})
temp_df 
# 이러면 Series 형식으로 되기 때문에 corr 비교는 이거만으론 x

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int64

In [112]:
df['region'].unique()
temp_df = pd.get_dummies(df, columns=['region']) * 1
temp_df
temp_df.corr(numeric_only=True)

,age,bmi,children,charges,double_bmi,debt,region_northeast,region_northwest,region_southeast,region_southwest
age,1.000000,0.109272,0.042469,0.299008,0.109272,NaN,0.002475,-0.000407,-0.011642,0.010016
bmi,0.109272,1.000000,0.012759,0.198341,1.000000,NaN,-0.138156,-0.135996,0.270025,-0.006205
children,0.042469,0.012759,1.000000,0.067998,0.012759,NaN,-0.022808,0.024806,-0.023066,0.021914
charges,0.299008,0.198341,0.067998,1.000000,0.198341,NaN,0.006349,-0.039905,0.073982,-0.043210
double_bmi,0.109272,1.000000,0.012759,0.198341,1.000000,NaN,-0.138156,-0.135996,0.270025,-0.006205
debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region_northeast,0.002475,-0.138156,-0.022808,0.006349,-0.138156,NaN,1.000000,-0.320177,-0.345561,-0.320177
region_northwest,-0.000407,-0.135996,0.024806,-0.039905,-0.135996,NaN,-0.320177,1.000000,-0.346265,-0.320829
region_southeast,-0.011642,0.270025,-0.023066,0.073982,0.270025,NaN,-0.345561,-0.346265,1.000000,-0.346265
region_southwest,0.010016,-0.006205,0.021914,-0.043210,-0.006205,NaN,-0.320177,-0.320829,-0.346265,1.000000

In [113]:
df['region'].unique()
temp_df = pd.get_dummies(df, columns=['sex', 'region']) * 1
temp_df
temp_df.corr(numeric_only=True)

,age,bmi,children,charges,double_bmi,debt,sex_female,sex_male,region_northeast,region_northwest,region_southeast,region_southwest
age,1.000000,0.109272,0.042469,0.299008,0.109272,NaN,0.020856,-0.020856,0.002475,-0.000407,-0.011642,0.010016
bmi,0.109272,1.000000,0.012759,0.198341,1.000000,NaN,-0.046371,0.046371,-0.138156,-0.135996,0.270025,-0.006205
children,0.042469,0.012759,1.000000,0.067998,0.012759,NaN,-0.017163,0.017163,-0.022808,0.024806,-0.023066,0.021914
charges,0.299008,0.198341,0.067998,1.000000,0.198341,NaN,-0.057292,0.057292,0.006349,-0.039905,0.073982,-0.043210
double_bmi,0.109272,1.000000,0.012759,0.198341,1.000000,NaN,-0.046371,0.046371,-0.138156,-0.135996,0.270025,-0.006205
debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex_female,0.020856,-0.046371,-0.017163,-0.057292,-0.046371,NaN,1.000000,-1.000000,0.002425,0.011156,-0.017117,0.004184
sex_male,-0.020856,0.046371,0.017163,0.057292,0.046371,NaN,-1.000000,1.000000,-0.002425,-0.011156,0.017117,-0.004184
region_northeast,0.002475,-0.138156,-0.022808,0.006349,-0.138156,NaN,0.002425,-0.002425,1.000000,-0.320177,-0.345561,-0.320177
region_northwest,-0.000407,-0.135996,0.024806,-0.039905,-0.135996,NaN,0.011156,-0.011156,-0.320177,1.000000,-0.346265,-0.320829
region_southeast,-0.011642,0.270025,-0.023066,0.073982,0.270025,NaN,-0.017117,0.017117,-0.345561,-0.346265,1.000000,-0.346265
region_southwest,0.010016,-0.006205,0.021914,-0.043210,-0.006205,NaN,0.004184,-0.004184,-0.320177,-0.320829,-0.346265,1.000000

In [114]:
df.groupby(['sex']).size()
# df['sex'].value_counts() 이것도 가능

sex
female    662
male      676
dtype: int64

In [ ]:
df.loc[df['children']== 3]
# df['children']== 3 > boolean 값을 갖는 시리즈

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
2,29,male,33.000,3,no,southeast,4449.46,66.00,0
7,38,female,27.740,3,no,northwest,7281.51,55.48,0
25,60,female,27.720,3,no,southeast,14001.13,55.44,0
36,63,female,32.965,3,no,northwest,15612.19,65.93,0
54,41,female,28.690,3,no,northwest,8059.68,57.38,0
...,...,...,...,...,...,...,...,...,...
1301,63,male,30.875,3,yes,northwest,46718.16,61.75,0
1314,31,female,23.655,3,yes,northwest,18765.88,47.31,0
1320,32,male,31.065,3,no,northwest,5425.02,62.13,0
1332,53,female,44.700,3,no,southwest,11411.68,89.40,0
1333,51,male,30.970,3,no,northwest,10600.55,61.94,0

In [ ]:
df[df['children']== 3] #.loc안 적어도 가능

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
2,29,male,33.000,3,no,southeast,4449.46200,66.00,0
7,38,female,27.740,3,no,northwest,7281.50560,55.48,0
25,60,female,27.720,3,no,southeast,14001.13380,55.44,0
36,63,female,32.965,3,no,northwest,15612.19335,65.93,0
54,41,female,28.690,3,no,northwest,8059.67910,57.38,0
...,...,...,...,...,...,...,...,...,...
1301,63,male,30.875,3,yes,northwest,46718.16325,61.75,0
1314,31,female,23.655,3,yes,northwest,18765.87545,47.31,0
1320,32,male,31.065,3,no,northwest,5425.02335,62.13,0
1332,53,female,44.700,3,no,southwest,11411.68500,89.40,0
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,0

In [42]:
df.loc[df['children']>= 5]

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
32,20,female,28.600,5,no,southwest,4687.80,57.20,0
71,32,male,28.500,5,no,northeast,6799.46,57.00,0
166,21,female,37.000,5,no,southwest,4830.63,74.00,0
413,26,male,23.900,5,no,southwest,5080.10,47.80,0
425,46,male,24.310,5,no,southeast,9788.87,48.62,0
438,53,female,46.750,5,no,southeast,12592.53,93.50,0
568,50,female,31.900,5,no,southwest,11552.90,63.80,0
640,34,male,42.400,5,no,southwest,6666.24,84.80,0
877,34,male,33.440,5,no,southeast,6653.79,66.88,0
932,47,male,25.800,5,no,southwest,10096.97,51.60,0
937,40,female,24.225,5,no,northwest,8965.80,48.45,0
969,40,female,34.320,5,no,southeast,8596.83,68.64,0
984,21,male,30.115,5,no,northeast,4915.06,60.23,0
1085,40,female,18.300,5,yes,southwest,19023.26,36.60,0
1116,42,male,29.640,5,no,northeast,9222.40,59.28,0
1130,40,female,23.870,5,no,southeast,8582.30,47.74,0
1245,29,male,24.300,5,no,southwest,5615.37,48.60,0
1272,44,male,25.520,5,no,southeast,14478.33,51.04,0

In [43]:
df.loc[df['bmi'] < 17]

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
172,19,male,15.960,0,no,northeast,1694.80,31.92,0
428,22,female,16.815,1,no,northeast,3167.46,33.63,0
1226,39,male,16.815,2,no,northeast,6640.54,33.63,0

In [ ]:
# 방법 1 : 
# 성별에 따른 보험료 평균
# df.groupby(['sex']).mean()
# df.groupby(['sex']).mean('charges') > 오류코드 순서가 잘못
df.groupby(['sex'])['charges'].mean() # 이러면 charges에 대한것만
# df.groupby(['sex']).mean(numeric_only=True)

sex
female    12569.578716
male      13956.751331
Name: charges, dtype: float64

In [118]:
df.groupby('sex').get_group('female')

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt
0,20,female,27.90,0,yes,southwest,16884.92400,55.80,0
5,32,female,25.74,0,no,southeast,3756.62160,51.48,0
6,47,female,33.44,1,no,southeast,8240.58960,66.88,0
7,38,female,27.74,3,no,northwest,7281.50560,55.48,0
9,61,female,25.84,0,no,northwest,28923.13692,51.68,0
...,...,...,...,...,...,...,...,...,...
1332,53,female,44.70,3,no,southwest,11411.68500,89.40,0
1334,19,female,31.92,0,no,northeast,2205.98080,63.84,0
1335,19,female,36.85,0,no,southeast,1629.83350,73.70,0
1336,22,female,25.80,0,no,southwest,2007.94500,51.60,0
1337,62,female,29.07,0,yes,northwest,29141.36030,58.14,0

In [ ]:
# 방법 2 : charges 컬럼 > 그룹 > 평균
# 방법 2가 메모리를 덜 사용하는 방법. whY? 'charges','sex' 칼럼만 가져와서 보는것이기 때문에
df['charges'].groupby(df['sex']).mean() #groupby안에 df['sex']로 지정해야함 그냥 ['sex']로 하면 안됨.

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [128]:
df.groupby(['sex']).mean(numeric_only=True)

              age        bmi  children       charges  double_bmi  debt
sex
female  40.503021  30.377749  1.074018  12569.578844   60.755498   0.0
male    39.917160  30.943129  1.115385  13956.751178   61.886257   0.0

In [57]:
df.groupby(['smoker'])['charges'].mean()

smoker
no      8434.268299
yes    32050.231898
Name: charges, dtype: float64

In [58]:
df.groupby(['region'])['charges'].mean()

region
northeast    13406.384599
northwest    12417.575169
southeast    14735.411484
southwest    12346.937508
Name: charges, dtype: float64

In [ ]:

# 흡연여부 + 지역별 데이터 평균
# df.groupby(['region']&['smoker'])['charges'].mean() > 오류 그룹바이는 , 사용
df.groupby(['region','smoker'])['charges'].mean()
# 그룹바이에 지역, 흡연여부 둘 중 먼저 오는 값에 따라 형식이 달라짐. 만약> 스모커가 먼저오면 흡연자 유무별로 지역비교,, 현재는 지역별로 흡연자 유무 비교

region     smoker
northeast  no         9165.531829
           yes       29673.536269
northwest  no         8556.463558
           yes       30192.002759
southeast  no         8032.216264
           yes       34844.997143
southwest  no         8019.284569
           yes       32269.063966
Name: charges, dtype: float64

In [ ]:
# 여러 집계함수를 한번에 적용할 때 agg()를 사용
df.groupby(['region','smoker']).agg(
  mean_charges=('charges', 'mean'), 
  median_charges = ('charges','median'), 
  count_charges = ('charges','count')
  )

                  mean_charges  median_charges  count_charges
region    smoker
northeast no       9165.531672     8342.908750            257
          yes     29673.536473    28101.333050             67
northwest no       8556.463715     7256.723100            267
          yes     30192.003182    27488.996475             58
southeast no       8032.216309     6652.528800            273
          yes     34844.996824    37484.449300             91
southwest no       8019.284513     7348.142000            267
          yes     32269.063494    35165.256500             58

In [65]:
df.groupby(['region','smoker']).size()

region     smoker
northeast  no        257
           yes        67
northwest  no        267
           yes        58
southeast  no        273
           yes        91
southwest  no        267
           yes        58
dtype: int64

In [143]:
# smoker 여부에 따라, group_val 컬럼에 '흡연자', '비흡연자' 표시하기
# df['group_val'] = if df['smoker'] == 'yes':
#  '흡연자'
#  else:
#    '비흡연자' >> 이렇게 해봤는데 x

# 방법 1: 다른 방법도 많지만 np.where가 제일 간단해 보임
df['group_val'] = np.where(df['smoker'] == 'yes' , '흡연자','비흡연자' )
# 방법 2: .map()으로.
# df['group_val'] = df['smoker'].map({'yes': '흡연자', 'no': '비흡연자'})
df

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt,group_val_x,group_val_merge,group_val_y,group_val
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0,흡연자,흡연자,흡연자,흡연자
1,19,male,33.770,1,no,southeast,1725.55230,67.54,0,비흡연자,비흡연자,비흡연자,비흡연자
2,29,male,33.000,3,no,southeast,4449.46200,66.00,0,비흡연자,비흡연자,비흡연자,비흡연자
3,34,male,22.705,0,no,northwest,21984.47061,45.41,0,비흡연자,비흡연자,비흡연자,비흡연자
4,33,male,28.880,0,no,northwest,3866.85520,57.76,0,비흡연자,비흡연자,비흡연자,비흡연자
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,0,비흡연자,비흡연자,비흡연자,비흡연자
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,0,비흡연자,비흡연자,비흡연자,비흡연자
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,0,비흡연자,비흡연자,비흡연자,비흡연자
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,0,비흡연자,비흡연자,비흡연자,비흡연자
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,0,흡연자,흡연자,흡연자,흡연자

In [ ]:
# merge 사용해서 흡연자/비흡연자 구분

# 합쳐주기 위한 테이블 정의
mapping_df = pd.DataFrame({
    'smoker': ['yes', 'no'],
    'group_val_merge': ['흡연자', '비흡연자']
})
mapping_df
df = pd.merge(df, mapping_df, on='smoker', how='left')
df
#merge의 경우 같은 이름의 칼럼이 있으면 칼럼이름 뒤에 x, y 이런식으로 붙는다

,age,sex,bmi,children,smoker,region,charges,double_bmi,debt,group_val_x,group_val_merge_x,group_val_y,group_val,group_val_merge_y
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0,흡연자,흡연자,흡연자,흡연자,흡연자
1,19,male,33.770,1,no,southeast,1725.55230,67.54,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
2,29,male,33.000,3,no,southeast,4449.46200,66.00,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
3,34,male,22.705,0,no,northwest,21984.47061,45.41,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
4,33,male,28.880,0,no,northwest,3866.85520,57.76,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,0,비흡연자,비흡연자,비흡연자,비흡연자,비흡연자
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,0,흡연자,흡연자,흡연자,흡연자,흡연자

In [140]:
mapping_df

  smoker group_val_merge
0    yes             흡연자
1     no            비흡연자