# 1 ~ 10

In [1]:
print ( "Hello World" )

Hello World

In [2]:
print ( "Mary's cosmetics" )

Mary's cosmetics

In [3]:
print ( '"도둑이야"' )

"도둑이야"

In [7]:
print ( "C:\\windows" )

C:\windows

\n : 줄 바꾸기, \t 탭 간격만큼벌리기

오늘은 일요일

In [9]:
print ( "naver;kakao;sk;samsaung" )

naver;kakao;sk;samsaung

In [10]:
print ( "naver", "kakao", "sk", "samsung", sep="/" )

naver/kakao/sk/samsung

In [12]:
print ("first",end=""); print ("second")

firstsecond

In [46]:
print (5/3)

1.6666666666666667

# 11 ~ 20

In [14]:
삼성전자 = 50000
보유주식수 = 10
print ( 삼성전자 * 보유주식수 )

500000

In [18]:
| | |
| - | - |
| 항목 | 값 |
| 시가총액 | 298조 |
| 현재가 | 50,000원 |
| PER | 15.79 |

SyntaxError: invalid syntax (3327640103.py, line 1)

In [19]:
시가총액 = 29800000000000
현재가 = 50000
PER = 15.79
print (시가총액, type(시가총액))
print (현재가, type(현재가))
print (PER, type(PER))

29800000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [20]:
s = "hello"
t = "python"
print (s+"!", t)

hello! python

8

In [23]:
a = 128
print (type(a))

a = "132"
print (type(a))

<class 'int'>
<class 'str'>

In [26]:
num_str = "720"
int(num_str)
type(int(num_str))

int

In [28]:
num_str = "720"
num_str = int (num_str)
print(type(num_str))

<class 'int'>

In [30]:
c = float("15.79")
type(c)

float

In [31]:
year = "2020"
year = int ( year )
print ( year , year+1, year+2 )

2020 2021 2022

In [47]:
매달결제금액 = 48584
무이자개월수 = 36
print ( "총 금액:", 매달결제금액 * 무이자개월수 )

총 금액: 1749024

# 21 ~ 30

In [33]:
latters = 'python'
print (latters[0], latters[2])

p t

In [36]:
license_plate = "24가 2210"
print ( license_plate[4:8])
print ( license_plate[4:])

2210
2210

In [38]:
string = "홀짝홀짝홀짝"
print ( string [0::2])

홀홀홀

In [40]:
string = "PYTHON"
print ( string[::-1])

NOHTYP

In [43]:
phone_number = "010-1111-2222"
print (phone_number [::-4])

print (phone_number.replace("-"," "))

2-10
010 1111 2222

In [44]:
print (phone_number.replace("-",""))

01011112222

In [51]:
url = "httpL//sharebook.kr"
!url = ("httpL//sharebook.kr")
print ( url.split(".")[-1])

kr

'url'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [2]:
url = "http://sharebook.kr"
print ( url.split(".")[-1] )

kr

python

In [3]:
lang = 'python'
lang[0] = 'p'
print (lang)
#문자열> str이라서 0번 인덱스? 0번리스트가 불러오긴 x

TypeError: 'str' object does not support item assignment

In [3]:
string = 'abcdfe2a354a32a'
dir (string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
string.replace('a','A')

'Abcdfe2A354A32A'

In [6]:
string = 'abcd'
string.replace('b', 'B')
print(string)
#aBcd >> 아닌 이유 replace 값을 다른 변수에 저장안했음!

abcd

# 31 ~ 40

In [1]:
# 34 출력

In [ ]:
# HiHiHi 출

In [2]:
print ('-'*80)

--------------------------------------------------------------------------------

In [6]:
t1 = 'python'
t2 = 'java'

t3 = t1+' '+t2 +' '
print (t3 * 4)

python java python java python java python java

In [7]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print (f'이름: {name1} 나이: {age1}')
print (f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [11]:
상장주식수 = "5,969,782,550"
aa = int (상장주식수.replace(',',''))
aa

5969782550

In [12]:
분기 = "2020/03(E) (IFRS연결)"
print (len(6))

TypeError: object of type 'int' has no len()

In [13]:
print (분기[:7])

2020/03

In [3]:
data = "   삼성전자    "
data = data.split()
data

['삼성전자']

# 41~50

In [4]:
ticker = "btc_krw"
ticker = ticker.upper()
ticker

'BTC_KRW'

In [5]:
ticker = "BTC_KRW"
ticker = ticker.lower()
ticker

'btc_krw'

In [6]:
ssn = 'hello'
ssn.capitalize()

'Hello'

In [9]:
file_name = "보고서.xlsx"
#  file_name.endswith() 어떻게 실행?

In [10]:
file_name.endswith('xlsx')

True

In [11]:
file_name.endswith(("xlsx", 'xls'))

True

In [12]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [14]:
a = "hello world"
b = a.split(' ')
b

['hello', 'world']

In [15]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [17]:
date = "2020-05-01"
print ( date.split('-'))

['2020', '05', '01']

In [18]:
data = "039490     "
print (data.rsplit())

['039490']

| '순위' | '영화' |
| --- | ---|
| '1' | '닥터 스트레인지' |
| '2' | '스플릿' |
| '3' | '럭키' |

In [22]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [23]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [24]:
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [25]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [28]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [29]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [31]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1+lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [34]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max: {max(nums)}')
print(f'min: {min(nums)}')

max: 7
min: 1

In [35]:
nums = [1, 2, 3, 4, 5]

print (sum (nums))

15

In [37]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
# cook.count?? 안됨..
print ( len(cook))

12

In [39]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums)/5 # 5 대신에 len(nums) 이걸 사용해도 괜찮.
avg

3.0

# 61~70

In [7]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price.remove('20180728')
print (price)

#이러면 리스트가 변경됨...
price = ['20180728', 100, 130, 140, 150, 160, 170]
print (price[1:])

[100, 130, 140, 150, 160, 170]
[100, 130, 140, 150, 160, 170]

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (nums[::2])

[1, 3, 5, 7, 9]

In [9]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (nums[1::2])

[2, 4, 6, 8, 10]

In [13]:
nums = [1, 2, 3, 4, 5]
print ( nums [-1::-1]) #이렇게 해도 되는데.
print ( nums [::-1]) #이것도 ㅇ.ㅋ

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [16]:
interest = ['삼성전자', 'LG전자', 'Naver']
print ('출력예시')
print (interest[::2]) #이러면 리스트 표시 있이 출력.

print (interest[0], interest[2]) #이러면 리스트 표시 없이 출력.

출력예시
['삼성전자', 'Naver']
삼성전자 Naver

In [17]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# [] 표시 없이 리스트 출력 방법
print (" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [18]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ("/".join(interest) )

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [19]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ( "\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [20]:
string = "삼성전자/LG전자/Naver"
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [2]:
data = [2, 4, 3, 1, 5, 10, 9]
# data_1 = data.sort(,,reverse = False)>> 내가 실행했는데 오류뜸.
# data_1 = data.sort() >> 이렇게 했는데 이러고 data_1 출력하면 None이 나옴.
# print(data_1)
data_1 = sorted(data)
print (data_1)

[1, 2, 3, 4, 5, 9, 10]

# 71 ~ 80

In [3]:
my_variable = tuple()
type(my_variable)

tuple

In [4]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [6]:
tuple_1 = ('1')
type(tuple_1)

str

In [1]:
t = (1, 2, 3)
t[0] = 'a'
t[0]

TypeError: 'tuple' object does not support item assignment

In [2]:
t = ('a', 'b', 'c')

dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [3]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
int_11 = list[interest]
int_11

list['삼성전자', 'LG전자', 'SK Hynix']

In [4]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
interest

('삼성전자', 'LG전자', 'SK Hynix')

In [5]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#a 값에 apple, b값에 banana c값에 cake가 들어간다.

apple banana cake

In [9]:
tuple_num = range(2,100,2)
print (type(tuple_num))
tuple_num = tuple(range(2,100,2))
print (type(tuple_num))

<class 'range'>
<class 'tuple'>

# 81 ~ 90

In [13]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print (a)
print (b)
print (c)

0
1
[2, 3, 4, 5]

In [16]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
type(scores)

list

In [17]:
*valid_score, _, _ = scores
print (valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [18]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_,*valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [19]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [20]:
temp = {}
type (temp)

dict

In [21]:
data_1 = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
data_1

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [22]:
data_2 = {'죠스바':1200, '월드콘':1500}
data_1 += data_2
data_1

TypeError: unsupported operand type(s) for +=: 'dict' and 'dict'

In [23]:
data_1['죠스바'] = 1200
data_1['월드콘'] = 1500
data_1

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [35]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
#ice {0}

In [36]:
dir (ice)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [38]:
ice.items()

dict_items([('메로나', 1000), ('폴로포', 1200), ('빵빠레', 1800), ('죠스바', 1200), ('월드콘', 1500)])

In [42]:
print (f'메로나: {ice['메로나']}')

메로나: 1000

In [46]:
ice.keys()

dict_keys(['메로나', '폴로포', '빵빠레', '죠스바', '월드콘'])

In [47]:
ice.values()

dict_values([1000, 1200, 1800, 1200, 1500])

In [48]:
ice.items()

dict_items([('메로나', 1000), ('폴로포', 1200), ('빵빠레', 1800), ('죠스바', 1200), ('월드콘', 1500)])

In [51]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice.update({'메로나':1300})
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [52]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice.pop('메로나')
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# >> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

# 딕셔너리는 안에 있는 항목 1개만 불러내는 기능이 없어서

In [54]:
ice ['폴로포']

1200

# 91 ~ 100