In [2]:
print ('hello python')

hello python

In [3]:
import  requests
response = requests.get('https://jsonplaceholder.typicode.com/posts')
responses1 = requests.get('https://jsonplaceholder.typicode.com/')
response

In [ ]:
from bs4 import BeautifulSoup

In [8]:
res = requests.get('https://jsonplaceholder.typicode.com/posts')
#res.text
import pandas as pd
df = pd.DataFrame(res.json())
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...