In [2]:
url = 'https://www.yes24.com/product/category/bestseller?categoryNumber=001'

In [3]:
import requests
from bs4 import BeautifulSoup

In [ ]:
bestseller = requests.get(url)
bestseller.text[:500] # HTML 코드의 처음 500자 출력

#yesBestList > li:nth-child(24) > div > div.item_info > div.info_row.info_name > a.gd_name

In [ ]:
selector = '#yesBestList div.item_info'
soup = BeautifulSoup(bestseller.text, 'html.parser')
items = soup.select(selector)
len(items) # 베스트셀러 상품의 수
items[0] # 첫번째 상품

#div.info_row.info_name > a.gd_name

In [17]:
title_selector = 'div.info_row.info_name > a.gd_name'
items[0].select_one(title_selector).text

'나의 완벽한 장례식'

In [18]:
title_selector_1 = 'div.info_name > a'
items[23].select_one(title_selector_1).text

'더블 클릭'

In [21]:
# 1. 제목을 저장할 빈 리스트 만들기
titles = []

# 2. items 리스트를 하나씩 순회하기
for item in items:
    # 각 상품(item) 안에서 제목 태그 찾기
    title_tag = item.select_one(title_selector)
# [수정 포인트] 찾은 제목이 있다면 리스트에 추가하기!
    if title_tag:
        titles.append(title_tag.text.strip()) # .append()가 핵심입니다.
# 3. 결과 확인
print(f"추출된 제목 개수: {len(titles)}")
print(titles)

추출된 제목 개수: 24
['나의 완벽한 장례식', '진보를 위한 주식투자', '박곰희 연금 부자 수업', '괴테는 모든 것을 말했다', 'ETS 토익 정기시험 기출문제집 1000 Vol. 5 RC', 'ETS 토익 정기시험 기출문제집 1000 Vol. 5 LC', '죽은 왕녀를 위한 파반느 (양장 특별판)', '자몽살구클럽', '2026 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상', '너를 아끼며 살아라', '모순', '돈의 방정식', '자본주의 시대에서 살아남기 위한 최소한의 경제 공부', '1,000만 원으로 3년 안에 300만 원 월배당 만들기', '위버멘쉬', '엄마가 유령이 되었어!', '안녕이라 그랬어', '2026 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하', '최소한의 삼국지', '싯다르타', '2026 심우철 실전 동형 모의고사 Season 2', '사이토 히토리의 어떻게 살 것인가', '돈의 심리학 (50만 부 기념 뉴 에디션)', '더블 클릭']

In [ ]:
#저자명 
# yesBestList > li:nth-child(24) > div > div.item_info > div.info_row.info_pubGrp > span.authPub.info_auth > a
author_selector = 'span.info_auth > a'
items[23].select_one(author_selector).text

'알간지'

In [22]:
# 1. 제목을 저장할 빈 리스트 만들기
authors = []

# 2. items 리스트를 하나씩 순회하기
for item in items:
    # 각 상품(item) 안에서 제목 태그 찾기
    author_tag = item.select_one(author_selector)
# [수정 포인트] 찾은 제목이 있다면 리스트에 추가하기!
    if author_tag:
        authors.append(author_tag.text.strip()) # .append()가 핵심입니다.
# 3. 결과 확인
print(f"추출된 제목 개수: {len(authors)}")
print(authors)

추출된 제목 개수: 24
['조현선', '이광수', '박곰희', '스즈키 유이', 'ETS', 'ETS', '박민규', '한로로', '최태성', '나태주', '양귀자', '모건 하우절', '백억남(김욱현)', '인생업(임승현)', '프리드리히 니체', '노부미', '김애란', '최태성', '최태성', '헤르만 헤세', '심우철', '사이토 히토리', '모건 하우절', '알간지']

In [16]:
# 가격
#yesBestList > li:nth-child(24) > div > div.item_info > div.info_row.info_price > strong > em
price_selector = 'div.info_price > strong > em'
items[23].select_one(price_selector).text

'17,100'

In [23]:
# 1. 제목을 저장할 빈 리스트 만들기
prices = []

# 2. items 리스트를 하나씩 순회하기
for item in items:
    # 각 상품(item) 안에서 제목 태그 찾기
    price_tag = item.select_one(price_selector)
# [수정 포인트] 찾은 제목이 있다면 리스트에 추가하기!
    if price_tag:
        prices.append(price_tag.text.strip()) # .append()가 핵심입니다.
# 3. 결과 확인
print(f"추출된 제목 개수: {len(prices)}")
print(prices)

추출된 제목 개수: 24
['17,100', '19,800', '18,900', '15,300', '19,800', '19,800', '18,000', '10,800', '17,100', '16,650', '11,700', '25,200', '25,200', '20,700', '16,020', '10,800', '15,120', '16,650', '17,550', '7,200', '13,500', '11,700', '22,320', '17,100']

In [25]:
import pandas as pd

# 1. 데이터를 딕셔너리 형태로 묶기
data = {
    '제목': titles,
    '저자': authors,
    '가격': prices
}

# 2. 데이터프레임 생성
df = pd.DataFrame(data)

# 3. 결과 확인
print(df.head()) # 상위 5개 데이터 미리보기

                                 제목      저자      가격
0                        나의 완벽한 장례식     조현선  17,100
1                       진보를 위한 주식투자     이광수  19,800
2                      박곰희 연금 부자 수업     박곰희  18,900
3                     괴테는 모든 것을 말했다  스즈키 유이  15,300
4  ETS 토익 정기시험 기출문제집 1000 Vol. 5 RC     ETS  19,800

In [ ]:
# 1. 앞에서 만든 데이터프레임 (df)
# 2. CSV 파일로 저장
df.to_csv('yes24_bestsellers.csv', index=False, encoding='utf-8-sig')

print("저장이 완료되었습니다!")

저장이 완료되었습니다!

In [27]:
df

                                            제목        저자      가격
0                                   나의 완벽한 장례식       조현선  17,100
1                                  진보를 위한 주식투자       이광수  19,800
2                                 박곰희 연금 부자 수업       박곰희  18,900
3                                괴테는 모든 것을 말했다    스즈키 유이  15,300
4             ETS 토익 정기시험 기출문제집 1000 Vol. 5 RC       ETS  19,800
5             ETS 토익 정기시험 기출문제집 1000 Vol. 5 LC       ETS  19,800
6                       죽은 왕녀를 위한 파반느 (양장 특별판)       박민규  18,000
7                                       자몽살구클럽       한로로  10,800
8   2026 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 상       최태성  17,100
9                                   너를 아끼며 살아라       나태주  16,650
10                                          모순       양귀자  11,700
11                                      돈의 방정식    모건 하우절  25,200
12                자본주의 시대에서 살아남기 위한 최소한의 경제 공부  백억남(김욱현)  25,200
13             1,000만 원으로 3년 안에 300만 원 월배당 만들기  인생업(임승현)  20,700
14                                        위버멘쉬  프리드리히 니체  16,020
15                                엄마가 유령이 되었어!       노부미  10,800
16                                    안녕이라 그랬어       김애란  15,120
17  2026 큰별쌤 최태성의 별별한국사 한국사능력검정시험 심화(1,2,3급) 하       최태성  16,650
18                                    최소한의 삼국지       최태성  17,550
19                                        싯다르타    헤르만 헤세   7,200
20                2026 심우철 실전 동형 모의고사 Season 2       심우철  13,500
21                          사이토 히토리의 어떻게 살 것인가   사이토 히토리  11,700
22                     돈의 심리학 (50만 부 기념 뉴 에디션)    모건 하우절  22,320
23                                       더블 클릭       알간지  17,100

# 객체로 다루기

1. 도서제목 + 저자 + 가격 추출
2. 한 페이지의 도서 목록 추출
3. 여러 페이지의 도서 목록 추출
4. Book 클래스를 이용한 객체 생성
sqlite db (내장db)에 저장 (예정)

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

# 1. 데이터를 담을 빈 바구니들
all_titles = []
all_authors = []
all_prices = []

# 2. 1페이지부터 6페이지까지 반복
for page in range(1, 7):
    print(f"현재 {page}페이지 수집 중...")
    
    # 페이지 번호가 포함된 URL 구성
    url = f'https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageNumber={page}'
    
    # 요청 및 파싱
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # 상품 덩어리들 가져오기
    items = soup.select('#yesBestList div.item_info')
    
    for item in items:
        # 각 정보 추출 (에러 방지를 위해 select_one 결과 확인)
        title_tag = item.select_one('div.info_row.info_name > a.gd_name')
        author_tag = item.select_one('span.info_auth > a')
        price_tag = item.select_one('strong.txt_num > em')
        
        if title_tag and author_tag and price_tag:
            all_titles.append(title_tag.text.strip())
            all_authors.append(author_tag.text.strip())
            all_prices.append(price_tag.text.strip())
            
    # 서버 부하를 방지하기 위해 0.5초 정도 쉬어주는 매너!
    time.sleep(0.5)

# 3. 데이터프레임 생성
df = pd.DataFrame({
    '제목': all_titles,
    '저자': all_authors,
    '가격': all_prices
})

현재 1페이지 수집 중...
현재 2페이지 수집 중...
현재 3페이지 수집 중...
현재 4페이지 수집 중...
현재 5페이지 수집 중...
현재 6페이지 수집 중...

In [29]:
df

                                                 제목       저자      가격
0                                        나의 완벽한 장례식      조현선  17,100
1                                       진보를 위한 주식투자      이광수  19,800
2                                      박곰희 연금 부자 수업      박곰희  18,900
3                                     괴테는 모든 것을 말했다   스즈키 유이  15,300
4                  ETS 토익 정기시험 기출문제집 1000 Vol. 5 RC      ETS  19,800
..                                              ...      ...     ...
139                                             말뚝들       김홍  15,120
140                                어린이 같은 말 다른 뜻 사전      박세랑  16,020
141  2026 위포트 공기업 NCS 통합기본서 (PSAT형+모듈형+피듈형+실전 모의고사)  위포트 연구소  24,300
142                        기분이 태도가 되지 않게 (헬로키티 에디션)     레몬심리  16,200
143                                          불변의 법칙   모건 하우절  22,500

[144 rows x 3 columns]

In [34]:
import requests
from bs4 import BeautifulSoup
import time

# 1. 클래스 정의
class Book:
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.price = price
    def __repr__(self):
        return f"<{self.title} / {self.author}>"

# 2. 바구니는 딱 한 번만 준비 (반복문 밖에서!)
book_objects = []

# 3. 6페이지 반복
for page in range(1, 7):
    url = f'https://www.yes24.com/product/category/bestseller?categoryNumber=001&pageNumber={page}'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # 4. 해당 페이지의 상품 리스트 추출
    items = soup.select('#yesBestList div.item_info')
    
    # 5. 각 상품별로 객체 생성
    for item in items:
        # 데이터가 없는 경우를 대비해 안전하게 추출
        title_el = item.select_one('div.info_row.info_name > a.gd_name')
        author_el = item.select_one('span.info_auth > a')
        price_el = item.select_one('strong.txt_num > em')
        
        if title_el and author_el and price_el:
            title = title_el.text.strip()
            author = author_el.text.strip()
            price = price_el.text.strip()
            
            # 객체 생성 후 리스트에 추가
            new_book = Book(title, author, price)
            book_objects.append(new_book)
            
    print(f"{page}페이지 수집 완료! 현재까지 총 {len(book_objects)}권")
    time.sleep(0.5)

# 최종 결과 확인
print(f"최종 수집된 책 개수: {len(book_objects)}개")

1페이지 수집 완료! 현재까지 총 24권
2페이지 수집 완료! 현재까지 총 48권
3페이지 수집 완료! 현재까지 총 72권
4페이지 수집 완료! 현재까지 총 96권
5페이지 수집 완료! 현재까지 총 120권
6페이지 수집 완료! 현재까지 총 144권
최종 수집된 책 개수: 144개

In [38]:
# 1. 객체 리스트를 딕셔너리 리스트로 변환하여 생성
df = pd.DataFrame([b.__dict__ for b in book_objects])

# 2. 컬럼명 예쁘게 바꾸기
df.columns = ['제목', '저자', '가격']

# 3. 결과 확인
df

                                                 제목       저자      가격
0                                        나의 완벽한 장례식      조현선  17,100
1                                       진보를 위한 주식투자      이광수  19,800
2                                      박곰희 연금 부자 수업      박곰희  18,900
3                                     괴테는 모든 것을 말했다   스즈키 유이  15,300
4                  ETS 토익 정기시험 기출문제집 1000 Vol. 5 RC      ETS  19,800
..                                              ...      ...     ...
139                                             말뚝들       김홍  15,120
140                                어린이 같은 말 다른 뜻 사전      박세랑  16,020
141  2026 위포트 공기업 NCS 통합기본서 (PSAT형+모듈형+피듈형+실전 모의고사)  위포트 연구소  24,300
142                        기분이 태도가 되지 않게 (헬로키티 에디션)     레몬심리  16,200
143                                          불변의 법칙   모건 하우절  22,500

[144 rows x 3 columns]

In [39]:
df.to_csv('yes24_final.csv', index=False, encoding='utf-8-sig')
print("데이터프레임 생성 및 CSV 저장 완료!")

데이터프레임 생성 및 CSV 저장 완료!

In [40]:
import sqlite3

# 1. DB 연결 (파일이 없으면 새로 생성됩니다)
conn = sqlite3.connect('yes24_books.db')
cur = conn.cursor()

# 2. 테이블 생성 (기존에 있다면 삭제 후 생성)
cur.execute('DROP TABLE IF EXISTS books')
cur.execute('''
    CREATE TABLE books (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        title TEXT,
        author TEXT,
        price TEXT
    )
''')

# 3. 데이터 삽입 (Book 객체 리스트 활용)
# executemany를 사용하면 한 번에 많은 데이터를 빠르게 넣을 수 있습니다.
data_to_insert = [(b.title, b.author, b.price) for b in book_objects]

cur.executemany('''
    INSERT INTO books (title, author, price) 
    VALUES (?, ?, ?)
''', data_to_insert)

# 4. 변경사항 저장(Commit) 및 연결 종료
conn.commit()
conn.close()

print("SQLite DB 저장 완료! 'yes24_books.db' 파일을 확인하세요.")

SQLite DB 저장 완료! 'yes24_books.db' 파일을 확인하세요.

In [41]:
conn = sqlite3.connect('yes24_books.db')
df_from_db = pd.read_sql('SELECT * FROM books', conn)
conn.close()

print(df_from_db.head())

   id                             title  author   price
0   1                        나의 완벽한 장례식     조현선  17,100
1   2                       진보를 위한 주식투자     이광수  19,800
2   3                      박곰희 연금 부자 수업     박곰희  18,900
3   4                     괴테는 모든 것을 말했다  스즈키 유이  15,300
4   5  ETS 토익 정기시험 기출문제집 1000 Vol. 5 RC     ETS  19,800

In [42]:
import pymysql
conn = pymysql.connect(
  host='localhost',
  user='root',
  password='1234',
  db='book_db',
  charset='utf8mb4'
)
conn

In [44]:
try:
    with conn.cursor() as cursor:
        # 2. 테이블 생성
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS books (
                id INT AUTO_INCREMENT PRIMARY KEY,
                title VARCHAR(255),
                author VARCHAR(255),
                price VARCHAR(50)
            )
        ''')
        
        # 3. 데이터 삽입 (이미 수집한 book_objects가 있다고 가정)
        sql = "INSERT INTO books (title, author, price) VALUES (%s, %s, %s)"
        
        # executemany를 위해 리스트 형태로 변환
        data_to_insert = [(b.title, b.author, b.price) for b in book_objects]
        
        cursor.executemany(sql, data_to_insert)
        
    # 4. 변경사항 최종 반영
    conn.commit()
    print(f"{len(data_to_insert)}개의 데이터를 DB에 저장했습니다.")

finally:
    # 5. 연결 종료 (에러가 나도 꼭 닫아줘야 함)
    conn.close()

144개의 데이터를 DB에 저장했습니다.